<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head thy:merge="/common::headerFragment">
<title>修改密码</title>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var validator;
    $(document).ready(function() {
	validator = $("#userForm").validate();
	$("#submitButton").bind("click", submitForm);
    });
    /*]]>*/
</script>
</head>
<body>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">×</button>
		<h3>修改密码</h3>
	</div>
	<div class="modal-body">
		<form id="passwordForm" method="POST">
			<fieldset>
				<div class="box">
					<label for="oldPassword">旧密码:</label>
					<div class="control-group">
						<div class="controls">
							<input name="oldPassword" id="oldPassword" type="password" />
						</div>
					</div>
				</div>
				<div class="box">
					<label for="newPassword">新密码:</label>
					<div class="control-group">
						<div class="controls">
							<input name="newPassword" id="newPassword" type="password" />
						</div>
					</div>
				</div>
				<div class="box">
					<label for="comfiemPassword">确认密码:</label>
					<div class="control-group">
						<div class="controls">
							<input name="confirmPassword" id="confirmPassword"
								type="password" />
						</div>
					</div>
				</div>
			</fieldset>
			<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		function submitForm() {
		    $.ajax({
			type : 'POST',
			url : /*[[@{'/user/changePassword'}]]*/'',
			dataType : "text",
			data : 'oldPassword=' + $("#oldPassword").val()
				+ '&newPassword=' + $("#newPassword").val()
				+ '&confirmPassword='
				+ $("#confirmPassword").val(),
			async : false,
			success : function(data) {
			    //alert(data);
			    $("#dialog-message .modal-body").html("密码已经成功修改！");
			    $("#passwordForm").trigger("evtSuccess", {
				msg : "OK"
			    });
			    $("#dialog-message").modal();
			}

		    });
		}
		/*]]>*/
	    </script>
		</form>
		<div class="modal-footer">
			<button type="button" id="submitButton" class="btn btn-primary">修改</button>
		</div>
	</div>
	<div tabindex="-1" class="modal hide fade" id="dialog-message"
		data-keyboard="false" data-backdrop="static">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3>消息</h3>
		</div>
		<div class="modal-body">
			<p>Would you like to continue with some arbitrary task?</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="button" data-dismiss="modal">继续
			</button>
		</div>
	</div>
	<div th:replace="/common::javascriptFragment" th:remove="tag"></div>
</body>
</html>
