<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head thy:merge="/common::headerFragment">
<title>创建用户</title>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	var validator;
	$(document).ready(function() {
		validator = $("#userForm").validate();
		$("#submitButton").bind("click", submitForm);
	});

	function submitForm() {

		var user = $("#userForm").serializeObject();
		user.organizationId = /*[[@{${user.organizationId}}]]*/"12";
		//alert(JSON.stringify(user));
		$
				.postJSON(
						/*[[@{'/user/create'}]]*/'',
						JSON.stringify(user),
						false,
						function(data) {
							if (data.err == "true") {
								var errors = {};
								for ( var obj in data) {
									if (obj != "err")
										errors[obj] = data[obj];

								}
								validator.showErrors(errors);
							} else {

								var dialogContent = '<div tabindex="-1" class="modal fade" role="dialog"'
						    + 'data-keyboard="false" data-backdrop="static" style="display: none;">'
										+ '<div class="modal-dialog"><div class="modal-content"><div class="modal-header">'
										+ '	<button type="button" class="close" data-dismiss="modal"'
						    + 'aria-hidden="true">×</button>'
										+ '<h3>消息</h3></div>'
										+ '<div class="modal-body">'
										+ '	<p>数据已经保存!其ID号为:'
										+ data.id
										+ '</p>'
										+ '</div>'
										+ '<div class="modal-footer">'
										+ '	<button class="btn btn-warning" type="button" data-dismiss="modal"'
						    + '>关闭</button></div></div></div></div>';
								var dialog = $(dialogContent);
								dialog.modal();
								$("#userForm").trigger("evtSuccess", {
									msg : "OK"
								});
								
							}

						});
		return false;
	};
	/*]]>*/
</script>
</head>
<body>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
				<h3>创建用户</h3>
			</div>
			<div class="modal-body">
				<form id="userForm" method="POST" th:object="${user}"
					class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="username">登陆名：</label>
						<div class="col-sm-9">
							<input type="text" name="loginName" id="loginName"
								class="col-xs-10 col-sm-5" th:field="*{loginName}" />
						</div>
						<div class="space-4"></div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="name">真实姓名：</label>
						<div class="col-sm-9">
							<input type="text" name="name" id="name"
								class="col-xs-10 col-sm-5" th:field="*{name}" />
						</div>
						<div class="space-4"></div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="name">手机号码：</label>
						<div class="col-sm-9">
							<input type="text" name="mobile" id="mobile"
								class="col-xs-10 col-sm-5" th:field="*{mobile}" />
						</div>
						<div class="space-4"></div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="email">电子邮箱：</label>
						<div class="col-sm-9">
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-envelope"></i></span>
								<input id="email" type="text" th:field="*{email}"
									placeholder="输入电子邮箱（如123@sina.com)…" />
							</div>
						</div>
						<div class="space-4"></div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right"
							for="password">密码：</label>
						<div class="col-sm-9">
							<input type="text" name="password" id="password"
								class="col-xs-10 col-sm-5" th:field="*{password}" />
						</div>
						<div class="space-4"></div>
					</div>

					<div class="form-actions">
						<div class="control-group">
							<div class="controls">
								<label class="checkbox" th:each="role : ${user.roles}">
									<input type="checkbox" th:field="*{roles}"
									th:value="${role.id}" /> <label th:text="${role.name}">ROLE_USER</label>
								</label>
							</div>
						</div>
					</div>

				</form>
				<div class="modal-footer">
					<button type="button" id="submitButton" class="btn btn-primary">创建用户</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
