<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html>
<head thy:merge="/common::headerFragment">
<title>创建用户</title>
<script type="text/javascript">
	var validator;
	$(document).ready(function() {
		validator = $("#userForm").validate();
		$("#submitButton").bind("click", submitForm);
	});
</script>
</head>
<body>
	<h1>创建用户</h1>
	<form id="userForm" method="POST" th:object="${user}">
		<fieldset>
			<label for="username">登陆名:</label> <input id="loginName"
				placeholder="输入登陆名…" type="text" th:field="*{loginName}" /> <label
				for="name">真实姓名:</label> <input id="name" type="text"
				th:field="*{name}" /> <label for="mobile">手机号码:</label> <input
				id="mobile" type="text" th:field="*{mobile}" /><br /> <label
				class="control-label" for="email">电子邮箱:</label>
			<div class="input-prepend">
				<span class="add-on"><i class="icon-envelope"></i></span> <input
					id="email" type="text" th:field="*{email}"
					placeholder="输入电子邮箱（如123@sina.com)…" />
			</div>
			<label for="password">密码:</label> <input id="password" type="text"
				th:field="*{password}" />
			<div class="form-actions">
				<div class="control-group">
					<div class="controls">
						<label class="checkbox" th:each="role : ${user.roles}"> <input
							type="checkbox" th:field="*{roles}" th:value="${role.id}" /> <label
							th:text="${role.name}">ROLE_USER</label></label>
					</div>
				</div>
			</div>
			<input type="submit" id="submitButton" value="创建用户"
				class="btn btn-primary" />
		</fieldset>
		<script type="text/javascript">
			function submitForm() {

				var user = $("#userForm").serializeObject();
				alert(JSON.stringify(user));
				$.postJSON("user/create", JSON.stringify(user), false,
						function(data) {
							if (data.err == "true") {
								var errors = {};
								for ( var obj in data) {
									if (obj != "err")
										errors[obj] = data[obj];

								}
								validator.showErrors(errors);
							} else {
								$("#dialog-message").html(
										"数据已经保存!其ID号为:" + data.id);
								$("#userForm").trigger("evtSuccess", {
									msg : "OK"
								});
								$("#dialog-message").dialog({
									modal : true,
									buttons : {
										Ok : function() {
											$(this).dialog("close");

										}
									}

								});
							}

						});
				return false;
			}
		</script>
	</form>
	<div id="dialog-message" title="消息"></div>
</body>
</html>
