<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html>
<head>
<title>角色列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />

<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	href="/css/ui-lightness/jquery-ui-1.10.3.custom.css"
	th:href="@{/css/ui-lightness/jquery-ui-1.10.3.custom.css}" />
<link href="/bootstrap/css/DT_bootstrap.css" rel="stylesheet"
	type="text/css" th:href="@{/bootstrap/css/DT_bootstrap.css}" />
<link href="/bootstrap/css/prettify.css" rel="stylesheet"
	type="text/css" th:href="@{/bootstrap/css/prettify.css}" />
<script src="/scripts/jquery-1.10.2.min.js" type="text/javascript"
	th:src="@{/scripts/jquery-1.10.2.min.js}"></script>
<script src="/scripts/jquery-ui-1.10.3.custom.min.js"
	type="text/javascript"
	th:src="@{/scripts/jquery-ui-1.10.3.custom.min.js}"></script>
<script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"
	th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="/bootstrap/js/jquery.dataTables.js" type="text/javascript"
	th:src="@{/bootstrap/js/jquery.dataTables.js}"></script>
<script src="/bootstrap/js/bootstrap_DT.js" type="text/javascript"
	th:src="@{/bootstrap/js/bootstrap_DT.js}"></script>
	<script src="/bootstrap/js/role.js" type="text/javascript"
	th:src="@{/bootstrap/js/role.js}"></script>
<script src="/scripts/json2.js" type="text/javascript"
	th:src="@{/scripts/json2.js}"></script>
<script type="text/javascript">

</script>
</head>
<body>
	<div class="box">
		<h1>角色列表</h1>
		<table id="roleList" cellpadding="0" cellspacing="0" border="0"
			class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Student01</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Student02</td>
				</tr>
			</tbody>
		</table>
		<input type="button" id="addBtn" value="增加" class="btn btn-primary" />
	</div>
	<div id="createRole"></div>
</body>
</html>
