<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head thy:merge="/common::headerFragment">
<title>请假FORM</title>
</head>
<body>
	<form
		th:action="@{'/runtime/form/submitStartForm/'+${processDefinitionId}}"
		method="POST">
		<p th:text="${processDefinitionId}"></p>
		<label for="name">名称:</label> <input id="name" name="name" placeholder="输入名称…"
			type="text" /> <input type="submit" id="submitButton" value="提交"
			class="btn btn-primary" /> <a
			th:href="@{'/runtime/form/submitStartForm/'+${processDefinitionId}}"></a>
	</form>
</body>
</html>