<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head thy:merge="/common::headerFragment">
<title>规范性文件备案登记表</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
<link rel="stylesheet" href="../assets/css/datepicker.css"
	th:href="@{/assets/css/datepicker.css}" />
</head>
<body>
	<form id="myForm" method="POST" class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="fileName">文件名称：</label>
			<div class="col-sm-9">
				<input type="text" name="fileName" id="fileName"
					class="col-xs-10 col-sm-5" />
			</div>
			<div class="space-4"></div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right">单位名称：</label>
			<div class="col-sm-9">
				<span id="organizationName" class="col-xs-10 col-sm-5"></span> <input
					type="hidden" id="organizationId" name="organizationId" />
			</div>
			<div class="space-4"></div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right"
				for="messageNumber">发文字号：</label>
			<div class="col-sm-9">
				<input class="col-xs-10 col-sm-5" type="text" name="messageNumber"
					id="messageNumber" />
			</div>
			<div class="space-4"></div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right"
				for="fileProperty">文件性质：</label>
			<div class="col-sm-9">
				<select id="fileProperty" name="fileProperty"
					class="col-xs-10 col-sm-5"><option value="党内规范性文件">党内规范性文件</option></select>
			</div>
			<div class="space-4"></div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right"
				for="contentClassification">内容分类：</label>
			<div class="col-sm-9">
				<select id="contentClassification" name="contentClassification"><option
						value="党内">党内</option></select>
			</div>
			<div class="space-4"></div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right"
				for="datetimepicker1">发布时间：</label>
			<div class="col-sm-4">
				<div class="input-group">
					<input class="form-control date-picker" id="datetimepicker1"
						type="text" data-date-format="mm/dd/yyyy" name="releaseDate" /> <span
						class="input-group-addon"> <i
						class="icon-calendar bigger-110"></i>
					</span>
				</div>
			</div>
			<div class="space-4"></div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 controle-label no-padding-right text-right"
				for="datetimepicker2">实施时间：</label>
			<div class="col-sm-4">
				<div class="input-group">
					<input class="form-control date-picker" id="datetimepicker2"
						type="text" data-date-format="mm/dd/yyyy"
						name="implementationDate" /> <span class="input-group-addon">
						<i class="icon-calendar bigger-110"></i>
					</span>
				</div>

			</div>
			<div class="space-4"></div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 controle-label no-padding-right text-right"
				for="isOpen">是否公开：</label>
			<div class="col-sm-9" style="z-index:0">

				<div class="radio-inline">
					<label> <input name="isOpen" type="radio" class="ace"
						value="是" /> <span class="lbl"> 是</span>
					</label>
				</div>
				<div class="radio-inline">
					<label> <input name="isOpen" type="radio" class="ace"
						value="否" /> <span class="lbl"> 否</span>
					</label>
				</div>

			</div>
			<div class="space-4"></div>
		</div>
		<div class="form-group">
			<div class="clearfix form-actions">
				<div class="col-md-offset-3 col-md-9">
					<button type="button" id="submitButton" class="btn btn-info">
						<i class="icon-ok bigger-110"></i>提交
					</button>
					<input type="hidden" name="attachmentList" id="attachmentList" />
				</div>
			</div>
		</div>
	</form>
	<div class="box">
		<label>上传附件：</label>
		<div>
			<ul id="uploadedAttachment"></ul>
		</div>
		<form id="uploadForm" class="form-horizontal"
			th:action="@{'/runtime/attachment/uploadAttachment/'+${taskId}}"
			method="post" enctype="multipart/form-data">
			<div class="form-group">
				<div>
					<div class="span3">
						<input type="file" name="file" />
					</div>
				</div>
				<div class="span1">
					<input type="submit" value="上传" class="btn btn-info" />
				</div>
				<div class="span3">
					<div id="progress">
						<div id="bar"></div>
						<div id="percent">0%</div>
					</div>
					<div id="message"></div>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="/common::javascriptFragment"></div>
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		function deleteAttachment(deleteUrl, attachmentId) {
			$.ajax({
				type : "POST",
				url : deleteUrl + attachmentId,
				data : {
					_method : 'DELETE',
				},
				success : function(data) {
					var orignList = $("#attachmentList").val();
					orignList = orignList.replace(attachmentId + ",", "");
					$("#attachmentList").val(orignList);
					$("#attachment" + attachmentId).remove();
				}
			});
		};
		$(document)
				.ready(
						function() {
							$('.date-picker').datepicker({
								language : 'zh-CN',
								autoclose : true
							}).next().on(ace.click_event, function() {
								$(this).prev().focus();
							});
							/*
							$("#datetimepicker1").datetimepicker({
								language : 'zh-CN',
								format : 'yyyy-MM-dd hh:mm:ss',
								pickDate : true,
								pickTime : true,
								hourStep : 1,
								minuteStep : 15,
								secondStep : 30,
								inputMask : true
							});
							$("#datetimepicker2").datetimepicker({
								language : 'zh-CN',
								format : 'yyyy-MM-dd hh:mm:ss',
								pickDate : true,
								pickTime : true,
								hourStep : 1,
								minuteStep : 15,
								secondStep : 30,
								inputMask : true
							});
							 */
							$
									.ajax({
										type : 'GET',
										url : /*[[@{'/user/getOrganization/'}+${T(org.apache.shiro.SecurityUtils).subject.principal.loginName}]]*/'',
										async : true,
										success : function(data) {
											//temp = $('#selectedUser').text();
											//temp += data + ';';
											$('#organizationName').text(
													data.text);
											$('#organizationId').val(data.id);

										}

									});
							$("#submitButton")
									.click(
											function() {
												$("#myForm")
														.ajaxForm(
																{
																	url : /*[[@{'/runtime/form/submitTaskForm/'+${taskId}}]]*/"",
																	dataType : "text",
																	success : function(
																			data) {
																		var ret = JSON
																				.parse(data);
																		alert(ret.msg);
																	}

																}).submit();

											});
							var options = {
								beforeSend : function() {
									$("#progress").show();
									//clear everything
									$("#bar").width('0%').height('1px').css({
										background : "green"
									}).fadeIn("fast");
									;
									$("#message").html("").fadeIn("fast");
									$("#percent").html("0%").fadeIn("fast");
								},
								uploadProgress : function(event, position,
										total, percentComplete) {
									$("#bar").width(percentComplete + '%');
									$("#percent").html(percentComplete + '%');

								},
								success : function() {
									$("#bar").width('100%').fadeOut("slow");

									$("#percent").html('100%').fadeOut("slow");

								},
								complete : function(response) {
									var ret = JSON.parse(response.responseText);
									$("#message").html(
											"<font color='green'>"
													+ response.responseText
													+ "</font>").fadeIn("fast")
											.fadeOut("slow");
									var li = $("<li></li>");

									var a = $("<a>" + ret.filename + "</a>");
									var deleteUrl = /*[[@{'/runtime/attachment/'}]]*/"";
									a.attr("href",
											"javascript:deleteAttachment(\""
													+ deleteUrl + "\","
													+ ret.attachmentId + ");");
									var i = $("<i class=\"icon-remove\"></i>");
									i.appendTo(a);
									a.appendTo(li);
									li.attr("id", "attachment"
											+ ret.attachmentId);
									li.appendTo($("#uploadedAttachment"));
									var orignList = $("#attachmentList").val();
									$("#attachmentList").val(
											orignList + "," + ret.attachmentId);
								},
								error : function() {
									$("#message")
											.html(
													"<font color='red'> 错误: 不能上传文件,请检查文件！</font>");
								}
							};
							$("#uploadForm").ajaxForm(options);
						});
		/*]]>*/
	</script>
</body>
</html>