<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head thy:merge="/common::headerFragment">
<title>规范性文件备案登记表</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function() {
	$("#submitButton").click(function() {
	    if ($("#status").val() == "") {
		$("#status").val(-1);
	    }
	    $("#myForm").ajaxForm({
		url : /*[[@{'/runtime/form/submitTaskForm/'+${taskId}}]]*/"",
		dataType : "text",
		success : function(data) {
		    var ret = JSON.parse(data);
		    alert(ret.msg);
		}

	    }).submit();

	});
	$.ajax({
	    type : 'GET',
	    url : /*[[@{'/organization/'}+${result.organizationId}]]*/'',
	    async : true,
	    success : function(data) {
		//temp = $('#selectedUser').text();
		//temp += data + ';';
		$('#organizationName').text(data.text);

	    }

	});
    });

    /*]]>*/
</script>
</head>
<body>
	<form id="myForm" method="POST" class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="fileName">文件名称：</label>
			<div class="col-sm-9">
				<input type="text" class="col-xs-10 col-sm-5"
					th:value="${result.fileName}" id="form-input-readonly"
					value="This text field is readonly!" readonly="true" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="fileName">单位名称：</label>
			<div class="col-sm-9">
				<span id="organizationName" class="label"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="fileName">发文字号：</label>
			<div class="col-sm-9">
				<input type="text" class="col-xs-10 col-sm-5"
					th:value="${result.messageNumber}" id="form-input-readonly"
					value="This text field is readonly!" readonly="true" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="fileName">文件性质：</label>
			<div class="col-sm-9">
				<input type="text" class="col-xs-10 col-sm-5"
					th:value="${result.fileProperty}" id="form-input-readonly"
					value="This text field is readonly!" readonly="true" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="fileName">内容分类：</label>
			<div class="col-sm-9">
				<input type="text" class="col-xs-10 col-sm-5"
					th:value="${result.contentClassification}" id="form-input-readonly"
					value="This text field is readonly!" readonly="true" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="fileName">发布时间：</label>
			<div class="col-sm-9">
				<input type="text" class="col-xs-10 col-sm-5"
					th:value="${result.releaseDate}" id="form-input-readonly"
					value="This text field is readonly!" readonly="true" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="fileName">实施时间：</label>
			<div class="col-sm-9">
				<input type="text" class="col-xs-10 col-sm-5"
					th:value="${result.implementationDate}" id="form-input-readonly"
					value="This text field is readonly!" readonly="true" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="fileName">是否公开：</label>
			<div class="col-sm-9">
				<input type="text" class="col-xs-10 col-sm-5"
					th:value="${result.isOpen}" id="form-input-readonly"
					value="This text field is readonly!" readonly="true" />
			</div>
		</div>
		<div class="form-group" th:if="${not #lists.isEmpty(result.replies)}">
			<label class="col-sm-3 controle-label no-padding-right text-right"
				for="isOpen">历史审核意见：</label>
			<div id="timeline-2">
				<div class="col-sm-9">
					<div class="col-xs-12 col-sm-10">
						<div class="timeline-container timeline-style2">
							<span class="timeline-label"> <b></b>
							</span>
							<div class="timeline-items">
								<div th:each="aReply:${result.replies}">
									<div class="timeline-item clearfix">
										<div class="timeline-info">
											<span class="timeline-date" th:text="${aReply.replyTime}">9:00
												am</span> <i class="timeline-indicator btn btn-info no-hover"></i>
										</div>
										<div class="widget-box transparent">
											<div class="widget-body">
												<div class="widget-main no-padding">
													<span class="bigger-110"> <span
														class="purple bolder" th:text="${aReply.userLoginName}">Susan</span>
														的审核意见是：
													</span> <br /> <i class="icon-hand-right grey bigger-125"></i> <span
														th:text="${aReply.reply}">同意备案。</span>
													<p></p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right">附件：</label>
			<div class="col-sm-9">
				<ul class="list-unstyled spaced2">
					<li th:each="attachment:${result.attachments}"><i
						class="icon-paper-clip"></i><a
						th:href="@{'/runtime/attachment/'+${attachment.taskId}}"><span
							th:text="${attachment.name}">file.ext</span></a></li>
				</ul>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="reply">审核意见：</label>
			<div class="col-sm-9">
				<textarea rows="8" cols="80" name="reply"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right"
				for="orderNumber">备案编号：</label>
			<div class="col-sm-9">
				<input type="text" class="col-xs-10 col-sm-5" id="orderNumber"
					name="orderNumber" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right">审核是否通过</label>
			<div class="radio-inline">
				<label><input name="status" type="radio" value="accept"
					class="ace" /><span class="lbl"> 准予备案</span></label>
			</div>
			<div class="radio-inline">
				<label><input name="status" type="radio" value="refuse"
					class="ace" /><span class="lbl"> 不予备案</span></label>
			</div>
			<div class="radio-inline">
				<label><input name="status" type="radio" value="revise"
					class="ace" /><span class="lbl"> 返回修改</span></label>
			</div>
		</div>
		<div class="form-group">
			<div class="clearfix form-actions">
				<div class="col-md-offset-3 col-md-9">
					<button type="button" id="submitButton" class="btn btn-info">
						<i class="icon-ok bigger-110"></i>提交
					</button>
					<input type="hidden" name="attachmentList" id="attachmentList" />
				</div>
			</div>
		</div>
	</form>
</body>
</html>