<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head thy:merge="/common::headerFragment">
<title>网站后台管理</title>

<link
	href="http://cdn.alloyui.com/3.0.1/aui-css/css/sortable-layout/css/basic.css"
	th:href="@{/alloy-3.0.1/aui-sortable-layout/assets/skins/sam/aui-sortable-layout.css}"
	rel="stylesheet"></link>
<link
	href="http://cdn.alloyui.com/3.0.1/aui-css/css/sortable-layout/css/basic.css"
	th:href="@{/alloy-3.0.1/aui-sortable-layout/assets/skins/sam/aui-sortable-layout-skin.css}"
	rel="stylesheet"></link>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/

	/*]]>*/
</script>
<style>
.portlet {
	border: 1px solid #DADADE;
	border-top-color: #F0F0FE;
	cursor: move;
	margin: 0px 5;
	padding: 0 5px;
}

.portlet .title {
	color: #fff;
	background-color: #575756;
	border-top-color: #F0F0FE;
	cursor: move;
	margin: 0px 0;
	padding: 5px;
	text-align: center;
	background-color: #575756;
}

.bs-callout-info {
	border-left-color: #1b809e !important;
}

.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}
</style>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" id="siteNavigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="http://alloyui.com"> <img
					src="http://alloyui.com/website/img/logo.png" alt="AlloyUI Logo"
					width="149" height="34" />
				</a> <a href="#" id="version"> v3.0.x <span class="caret"></span>
				</a>
				<ul id="version-dropdown" class="dropdown-menu" role="menu"
					aria-labelledby="drop">
					<li><a tabindex="-1" href="/versions/2.5.x">v2.5.x</a></li>
					<li><a tabindex="-1" href="/versions/2.0.x">v2.0.x</a></li>
					<li><a tabindex="-1" href="/versions/1.5.x">v1.5.x</a></li>
					<li><a tabindex="-1" href="/versions/1.0.x">v1.0.x</a></li>
				</ul>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="http://alloyui.com/examples/">Examples</a></li>
				<li><a href="http://alloyui.com/tutorials/">Tutorials</a></li>
				<li><a href="http://alloyui.com/api/" target="_blank">API
						Docs</a></li>
				<li><a href="http://alloyui.com/rosetta-stone/" target="_blank">Rosetta
						Stone</a></li>
				<li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
				<li><a href="http://alloyui.com/contributing/">Contributing</a></li>
				<li><a href="http://alloyui.com/about/">About</a></li>
			</ul>
		</div>
	</nav>
	<div class="banner page-banner">
		<div class="container">
			<div class="presentation">
				<h2>网站后台管理</h2>
			</div>
		</div>
	</div>

	<div class="container">

		<div id="Mynav" class="col-xs-3 bs-docs-sidebar">
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<div class="list-group bs-docs-sidenav affix-top">
					<a href="#" class="list-group-item active list-group-item"
						shape="rect"> CMS </a> <a href="../cms/index"
						class="yui3-pjax list-group-item" shape="rect">文章管理</a> <a
						th:href="@{/cmsManage/channel/index}" href="channel/index"
						class="yui3-pjax list-group-item" shape="rect">栏目管理</a> <a
						href="#" class="yui3-pjax list-group-item" shape="rect">用户管理</a> <a
						href="#" class="yui3-pjax list-group-item" shape="rect">角色管理</a>
				</div>

			</div>
		</div>
		<div id="Mynav" class="col-xs-3 bs-docs-sidebar">
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<div class="list-group bs-docs-sidenav affix-top">
					<a href="#" class="list-group-item active list-group-item"
						shape="rect"> CMS </a>
					<ul id="nav">
						<li class="yui3-pjax list-group-item"><a href="install.html">文章管理</a></li>
						<li class="yui3-pjax list-group-item"><a
							th:href="@{/cmsManage/channel/index}" href="examples.html">栏目管理</a></li>
						<li class="yui3-pjax list-group-item"><a href="api.html">用户管理</a></li>
					</ul>
				</div>
			</div>
		</div>
		<h1></h1>
		<div id="main">
			<p>Some great documentation is about to appear here!</p>
			<p>Boy howdy!</p>
		</div>

	</div>





	<div>
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/

			YUI().use('node-load', function(Y) {
				var main = Y.one('#main');

				Y.all('#nav a').on('click', function(ev) {
					ev.preventDefault();
					main.load(ev.target.get('href'), '#content');
					Y.one('h1').setHTML(ev.target.getHTML());
				});
			});

			/*
			 YUI().use('pjax', function(Y) {
			 var pjax = new Y.Pjax({
			 container : '#content'
			 });

			 // Listen for the `navigate` event and add the "loading" CSS class. The styles
			 // for the this CSS class can add a loading spinner or dim the container node.
			 pjax.on('navigate', function(e) {
			 this.get('container').addClass('loading');
			 });

			 // Listen for either the `load` or `error` events and remove the "loading" CSS
			 // class from the container node.
			 pjax.on([ 'error', 'load' ], function(e) {
			 this.get('container').removeClass('loading');
			 });
			 });
			 */
			/*]]>*/
		</script>
	</div>
</body>
</html>