<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head thy:merge="/common::headerFragment">
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
<title>我发起的流程</title>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function() {

	});

	function loadProcessDiagram(processInstanceId, processDefinitionId) {
		$("#processDiagram").attr("src", /*[[@{'/runtime/process/processDiagram/'}]]*/
		+processDefinitionId);
		$
				.ajax({
					type : 'GET',
					url : /*[[@{'/runtime/process/activityCoordinate/'}]]*/''
							+ processDefinitionId,
					async : false,
					success : function(data) {
						var coord = data.coordinates;
						var i = 0;
						for (i = 0; i < coord.length; i++) {
							var obj = coord[i];
							//alert(obj.id);
							//alert(obj.x);
							//alert(obj.y);

							var childdiv = $("<div style='position:absolute; border:2px solid red;'></div>"); //创建一个子div
							childdiv.attr('left', obj.x);
							childdiv.attr('top', obj.y);
							childdiv.width(obj.width);
							childdiv.height(obj.height);
							//childdiv.appendTo($("#parentDiv"));

						}

					}

				});
		$("#viewDiagram").modal();
	};

	/*]]>*/
</script>
</head>
<body>
	<div class="box">

		<div>
			<ul>
				<li th:each="task:${tasks}"><a target="_blank"
					th:href="@{/runtime/tasks/reviewHistoric/}+${task.id}+
						'?processDefinitionId='+${task.processDefinitionId}+'&amp;taskDefinitionKey='+${task.taskDefinitionKey}"><span
						th:text="${task.name}"></span><span
						th:text="${#dates.format(task.endTime, 'yyyy/MM/dd HH:mm')}"
						class="pull-right"></span><span class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;</span><span
						th:text="${task.assignee}" class="pull-right"></span></a></li>
			</ul>
		</div>
	</div>

</body>
</html>