<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head thy:merge="/common::headerFragment">
<title></title>

<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	/////create on20162016年3月18日下午2:17:49 byxxb1029//////
	dojoConfig = {
		'packages' : [

		{
			location : /*[[@{'/dojo-release-1.10.4/dbootstrap'}]]*/'dojo-release-1.10.4/dbootstrap',
			name : 'dbootstrap'
		} ]
	};
	/*]]>*/
</script>
<style>
</style>
</head>
<body class="dbootstrap">
	<div class="column" id="tree">
		<h1>Tree</h1>
		<div id="divTree"></div>
	</div>
	<button id="add-new-child">Add new child to selected item</button>
	<div th:include="/common::dojoScriptFragment"></div>

	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		/////create on20162016年3月18日下午2:17:49 byxxb1029//////
		require([ "dbootstrap" ], function(dbootstrap) {
			// Start application.
		});

		require(
				[ "dojo/aspect", "dojo/dom", "dojo/json",
						"dojo/store/JsonRest", "dijit/tree/ObjectStoreModel",
						"dijit/Tree", "dojo/domReady!", "dojo/query",
						"dojo/store/Observable" ],
				function(aspect, dom, json, JsonRest, ObjectStoreModel, Tree,
						domReady, query, Observable) {

					// set up the store to get the tree data

					var data = '{"name" : "US Government","id" : "root","children" : [ {"name" : "Congress","id" : "congress"}, {"name" : "Executive","id" : "exec"	}, {"name" : "Judicial","id" : "judicial"} ]}';

					var channelStore = new JsonRest(
							{
								target : /*[[@{'/cmsManage/channel/data/'}]]*/"channel/data/",
								//data : [ json.parse(data) ],
								getChildren : function(object) {
									return this.get(object.id).then(
											function(fullObject) {
												return fullObject.children;
											})
								}
							});

					// To support dynamic data changes, including DnD,
					// the store must support put(child, {parent: parent}).
					// But dojo/store/Memory doesn't, so we have to implement it.
					// Since our store is relational, that just amounts to setting child.parent
					// to the parent's id.
					aspect.around(channelStore, "put",
							function(originalPut) {
								return function(obj, options) {
									if (options && options.parent) {
										obj.parent = options.parent.id;
									}
									return originalPut.call(channelStore, obj,
											options);
								}
							});

					// set up the model, assigning channelStore, and assigning method to identify leaf nodes of tree
					var channelModel = new ObjectStoreModel({
						store : channelStore,
						//getRoot : function(onItem) {
						//	this.store.get("root").then(onItem);
						//},
						getRoot : function(onItem) {
							this.store.get(-1).then(onItem);
						},
						mayHaveChildren : function(object) {
							return "children" in object;
						}
					});

					// give store Observable interface so Tree can track updates
					channelModel = new Observable(channelModel);

					// set up the tree, assigning governmentModel;
					var channelTree = new Tree({
						model : channelModel
					/*onOpenClick : true,
					onLoad : function() {
						dom.byId('image').src = '../resources/images/root.jpg';
					},
					onClick : function(item) {
						dom.byId('image').src = '../resources/images/'
								+ item.id + '.jpg';

					},
					persist : false*/
					}, "divTree");
					channelTree.startup();

					query("#add-new-child").on(
							"click",
							function() {
								// get the selected object from the tree
								var selectedObject = channelTree
										.get("selectedItems")[0];
								if (!selectedObject) {
									return alert("No object selected");
								}

								// add a new child item
								var childItem = {
									name : "New child",
									id : Math.random()
								};
								channelStore.add({
									id : '2',
									name : 'United States',
									parent : selectedObject.id
								});
							});

				});
		/*]]>*/
	</script>
</body>
</html>