<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>jQuery EasyUI</title>
	<link rel="stylesheet" type="text/css" href="../themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="../themes/icon.css">
	<script type="text/javascript" src="../jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="../jquery.easyui.min.js"></script>
	<script>
		function loadData(){
			$('#cc').combobox({
				url:'combobox_data.json',
				valueField:'id',
				displayField:'text'
			});
		}
		function setValue(){
			$('#cc').combobox('setValue','bitem2');
		}
	</script>
</head>
<body>
	<h1>ComboBox</h1>
	<div style="margin-bottom:10px;">
		<a href="#" onclick="loadData()">loadData</a>
		<a href="#" onclick="setValue()">setValue</a>
	</div>
	
	<span>Options: </span>
	<select id="cc" class="easyui-combobox" name="dept" style="width:200px;">
		<option value="aa">aitem1</option>
		<option>bitem2</option>
		<option>bitem3</option>
		<option>ditem4</option>
		<option>eitem5</option>
	</select>
</body>
</html>