<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>Deploy activiti workflow</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="../../assets/js/require.js"
	th:src="@{/assets/js/require.js}" data-main="../assets/js/main"></script>
</head>
<body>
	<form action="deployments" method="post" enctype="multipart/form-data">
		<input type="file" name="file" /> <input type="submit" value="Submit" />
	</form>
</body>
</html>