<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>Deploy activiti workflow</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/blueprint/screen.css" rel="stylesheet" type="text/css"
	th:href="@{/css/blueprint/screen.css}" />

<link rel="stylesheet" type="text/css" media="screen"
	href="/css/ui-lightness/jquery-ui-1.8.11.custom.css"
	th:href="@{/css/ui-lightness/jquery-ui-1.8.11.custom.css}" />
<link rel="stylesheet" type="text/css" media="screen"
	href="/css/ui.jqgrid.css" th:href="@{/css/ui.jqgrid.css}" />
<link rel="stylesheet" type="text/css" media="screen"
	href="/css/ui.multiselect.css" th:href="@{/css/ui.multiselect.css}" />


<script src="/scripts/jquery-1.5.1.min.js" type="text/javascript"
	th:src="@{/scripts/jquery-1.5.1.min.js}"></script>

<script src="/scripts/jquery-ui-1.8.11.custom.min.js"
	type="text/javascript"
	th:src="@{/scripts/jquery-ui-1.8.11.custom.min.js}"></script>
<script src="/scripts/i18n/grid.locale-cn.js" type="text/javascript"
	th:src="@{/scripts/i18n/grid.locale-cn.js}"></script>
<script src="/scripts/jquery.jqGrid.min.js" type="text/javascript"
	th:src="@{/scripts/jquery.jqGrid.min.js}"></script>

<script src="/scripts/json2.js" type="text/javascript"
	th:src="@{/scripts/json2.js}"></script>
</head>
<body>
	<form action="submit" method="post" >
		<input id="name" type="text" name="name"/><input type="submit" value="Submit" />
	</form>
</body>
</html>