<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html>
<head thy:merge="/common::headerFragment">
<title>创建资源</title>
<script type="text/javascript" th:inline="javascript">
	function submitForm() {

		var permission = $("#permissionForm").serializeObject();
		//alert(JSON.stringify(user));
		$.postJSON("create", JSON.stringify(permission), false, function(data) {
			if (data.err == "true") {
				var errors = {};
				for ( var obj in data) {
					if (obj != "err")
						errors[obj] = data[obj];

				}
				validator.showErrors(errors);
			} else {
				$("#dialog-message .modal-body").html(
						"Data has been saved!Its ID is:" + data.id);
				$("#permissionForm").trigger("evtSuccess", {
					msg : "OK"
				});
				$("#dialog-message").modal();
			}

		});
		return false;
	};

	var validator;
	$(document).ready(function() {
		validator = $("#Form").validate();
		$("#submitButton").bind("click", submitForm);
	});
</script>
<style type="text/css">
* {
	font-family: Verdana;
	font-size: 96%;
}

label.error {
	color: red;
	padding-left: .5em;
	vertical-align: top;
}

em {
	font-weight: bold;
	padding-right: 1em;
	vertical-align: top;
}
</style>
</head>
<body>
	<div>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3>创建资源</h3>
		</div>
		<div class="modal-body">
			<form id="permissionForm" method="POST" th:object="${permission}">
				<fieldset>
					<label for="url">资源路径:</label> <input id="url"
						placeholder="输入资源路径…" type="text" th:field="*{url}" /> <label
						for="token">资源权限:</label> <input id="token" placeholder="输入资源权限…"
						type="text" th:field="*{token}" /> <label for="description">资源描述:</label>
					<input id="description" placeholder="输入资源描述…" type="text"
						th:field="*{description}" />
					<div class="form-actions">
						<div class="control-group">
							<div class="controls">
								<label class="checkbox" th:each="role : ${permission.roles}">
									<input type="checkbox" th:field="*{roles}"
									th:value="${role.id}" /> <label th:text="${role.name}">ROLE_USER</label>
								</label>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" id="submitButton" class="btn btn-primary">创建资源</button>
		</div>
	</div>
	<div tabindex="-1" class="modal hide fade" id="dialog-message"
		data-keyboard="false" data-backdrop="static">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3>消息</h3>
		</div>
		<div class="modal-body">
			<p>Would you like to continue with some arbitrary task?</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="button" data-dismiss="modal">Continue
			</button>
		</div>
	</div>
</body>
</html>
