<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head thy:merge="/common::headerFragment" th:remove="tag">
<title>资源列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
<!-- 
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
<link href="/themes/blue/style.css" rel="stylesheet" type="text/css"
	th:href="@{/themes/blue/style.css}" />
	
	<link rel="stylesheet" type="text/css" media="screen"
	href="/css/ui.multiselect.css" th:href="@{/css/ui.multiselect.css}" />
	

<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	href="/css/ui-lightness/jquery-ui-1.10.0.custom.css"
	th:href="@{/css/ui-lightness/jquery-ui-1.10.0.custom.css}" />
<link href="/bootstrap/css/DT_bootstrap.css" rel="stylesheet"
	type="text/css" th:href="@{/bootstrap/css/DT_bootstrap.css}" />
<link href="/bootstrap/css/prettify.css" rel="stylesheet"
	type="text/css" th:href="@{/bootstrap/css/prettify.css}" />
<script src="/scripts/jquery-1.10.2.min.js" type="text/javascript"
	th:src="@{/scripts/jquery-1.10.2.min.js}"></script>
<script src="/scripts/jquery-ui-1.10.3.custom.min.js"
	type="text/javascript"
	th:src="@{/scripts/jquery-ui-1.10.3.custom.min.js}"></script>
<script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"
	th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="/bootstrap/js/bootstrap-paginator.js"
	type="text/javascript" th:src="@{/bootstrap/js/bootstrap-paginator.js}"></script>
<script src="/bootstrap/js/jquery.dataTables.js" type="text/javascript"
	th:src="@{/bootstrap/js/jquery.dataTables.js}"></script>
<script src="/bootstrap/js/datatablesBootstrap.js"
	type="text/javascript" th:src="@{/bootstrap/js/datatablesBootstrap.js}"></script>
<script src="/scripts/json2.js" type="text/javascript"
	th:src="@{/scripts/json2.js}"></script>
	-->
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	function addPermission() {
		//$('body').modalmanager('loading');
		$("#create").load('create?' + (new Date()).valueOf(), '',
				function(data) {
					$("#create").bind("evtSuccess", function(evt, data) {
						$("#create").modal("hide");
						//var iCurrentPage = oTable.fnSettings()._iDisplayStart;
						//var oSettings = oTable.fnSettings();
						//oSettings._iDisplayStart = iCurrentPage;
						//oTable.fnDraw(oSettings);
					});
					//alert(data);
					//$('#createBody').html(data);
					$("#create").modal();
					/*
					$("#create").dialog({
						width : 600,
						show : 'blind',
						modal : true
					});
					 */
				});
	};
	function paginator(data) {
		count = Number(data.count);
		start = Number(data.start);
		size = Number(data.size);

		remainder = (count - start) % size;

		var options = {
			currentPage : start / size + 1,
			totalPages : (count - remainder) / size + 1,
			onPageChanged : function(e, oldPage, newPage) {
				$("#permissionList tr").nextAll().remove();

				$
						.ajax({
							url : "listPermissions?sort=id&order=desc&start="
									+ (newPage-1)*size,
							success : function(data) {
								paginator(data);

							}
						});

			},
			itemContainerClass : function(type, page, current) {
				return (page === current) ? "active" : "pointer-cursor";

			}
		};
		for (i = 0; i < data.permissions.length; i++) {
			var newRow = "<tr><td><input type=\"checkbox\" /></td><td>"
					+ data.permissions[i].id
					+ "</td><td>"
					+ data.permissions[i].url
					+ "</td><td>"
					+ data.permissions[i].token
					+ "</td><td>"
					+ data.permissions[i].description
					+ "</td><td><a href=\"claim/"+data.permissions[i].id+"\">接受</a></td></tr>";
			$("#permissionList tr:last").after(newRow);

		}

		$("#permissionList tr:gt(0)").hover(function() {
			$(this).addClass("hover")
		}, function() {
			$(this).removeClass("hover")
		});
		$("#permissionList td").click(
				function() {
					var tdSeq = $(this).parent().find("td").index($(this));
					var trSeq = $(this).parent().parent().find("tr").index(
							$(this).parent());
					alert("第" + (trSeq) + "行，第" + (tdSeq + 1) + "列");
				});
		$('#paginator').bootstrapPaginator(options);

	};
	$(document).ready(function() {
		$('#addBtn').bind('click', addPermission);

		$.ajax({
			url : "listPermissions?sort=id&order=desc",
			success : function(data) {
				paginator(data);

			}
		});

	});

	/*]]>*/
</script>
<style>
.hover {
	background-color: #cccc00;
}
</style>
</head>
<body>
	<div class="box">
		<h1>资源列表</h1>
		<table id="permissionList" cellpadding="0" cellspacing="0" border="0"
			class="table table-striped table-bordered">
			<thead>
				<tr>
					<th><input type="checkbox" name="check" value="" /></th>
					<th>ID</th>
					<th>路径</th>
					<th>权限</th>
					<th>描述</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="task:${tasks}">
					<td><input type="checkbox" name="check" value="" /></td>
					<td>id</td>
					<td>name</td>
					<td>assignee</td>
					<td>action</td>
				</tr>
			</tbody>
		</table>
		<div id="paginator"></div>
		<input type="button" id="addBtn" value="增加" class="btn btn-primary" />
		<input type="button" id="deleteBtn" value="删除选中"
			class="btn btn-danger" />
	</div>
	<div tabindex="-1" class="modal hide fade" id="create"
		data-keyboard="false" data-backdrop="static"></div>
</body>
</html>
