<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html>
<head th:fragment="headerFragment" th:remove="tag">

<link href="http://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css"
	th:href="@{/alloy-3.0.1/aui-css/css/bootstrap.min.css}"
	rel="stylesheet"></link>

<link href="http://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css"
	th:href="@{/css/main.css}" rel="stylesheet"></link>
<script src="http://cdn.alloyui.com/3.0.1/aui/aui-min.js"
	th:href="@{/alloy-3.0.1/aui/aui-min.js}"></script>


</head>
<body>
	<div th:fragment="scriptFragment">

		<script src="sea-modules/sea.js" type="text/javascript"
			th:src="@{/sea-modules/sea.js}"></script>
		<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
			seajs.config({
				alias : {
					"jquery" : /*[[@{'/scripts/jquery-1.10.2.min.js'}]]*/''

				},
				paths : {
					"bootstrap" : /*[[@{'/bootstrap/js/'}]]*/'',
					"scripts" : /*[[@{'/scripts/'}]]*/'',

				},
				preload : [ "jquery" ]
			});

			var bootstrap = [ 'jquery', 'bootstrap/bootstrap.min.js',
					'bootstrap/prettify.js', 'bootstrap/jquery.dataTables.js',
					'bootstrap/bootstrap-datetimepicker.min.js',
					'bootstrap/bootstrap-datetimepicker.zh-CN.js',
					'scripts/jquery-ui-1.10.3.custom.min.js',
					'bootstrap/bootstrap-modal.js',
					'bootstrap/bootstrap-modalmanager.js',
					'bootstrap/bootstrap-confirm.js',
					'bootstrap/bootstrap-paginator.js',
					'bootstrap/jquery.form.js',
					'bootstrap/jquery.jqplot.min.js', 'bootstrap/crud.js',
					'bootstrap/jquery.blockUI.js',
					'bootstrap/jquery.simpleTable.js',
					'bootstrap/jquery.bootstrap.teninedialog.min.js',
					'bootstrap/bootstrap-multiselect.js',
					'scripts/jquery.validate.js', 'scripts/jquery.metadata.js',
					'scripts/json2.js' ];
			seajs
					.use(
							bootstrap,
							function() {
								$
										.ajaxSetup({
											contentType : "application/x-www-form-urlencoded;charset=utf-8",
											complete : function(XMLHttpRequest,
													textStatus) {
												var sessionstatus = XMLHttpRequest
														.getResponseHeader("sessionstatus"); // 通过XMLHttpRequest取得响应头，sessionstatus， 
												if (sessionstatus == "timeout") {
													// 如果超时就处理 ，指定要跳转的页面 
													//alert("会话已经超时，请重新登录。");
													$
															.teninedialog({
																title : '系统提示',
																content : '会话已经超时，请重新登录。',
																dialogHidden : function() {
																	var loginUrl = /*[[@{'/login'}]]*/'';
																	window.location
																			.replace(loginUrl);
																}
															});

												}
											}
										});
							});

			/*]]>*/
		</script>
	</div>
</body>
</html>