<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html>
<head th:fragment="headerFragment" th:remove="tag">
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- basic styles -->
<link href="../../assets/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/assets/css/bootstrap.min.css}" />
<link href="/bootstrap/css/bootstrap-modal-bs3patch.css"
	rel="stylesheet"
	th:href="@{/bootstrap/css/bootstrap-modal-bs3patch.css}" />
<link href="/bootstrap/css/bootstrap-modal.css" rel="stylesheet"
	th:href="@{/bootstrap/css/bootstrap-modal.css}" />
<link rel="stylesheet" href="../assets/css/font-awesome.min.css"
	th:href="@{/assets/css/font-awesome.min.css}" />
<!--[if IE 7]>
<link rel="stylesheet" href="../../assets/css/font-awesome-ie7.min.css"
	th:href="@{/assets/css/font-awesome-ie7.min.css}" />
<![endif]-->
<!-- page specific plugin styles -->
<!-- ace styles -->
<link rel="stylesheet" href="../../assets/css/ace.min.css"
	th:href="@{/assets/css/ace.min.css}" />
	
<link rel="stylesheet" href="../../assets/css/ace-rtl.min.css"
	th:href="@{/assets/css/ace-rtl.min.css}" />
<link rel="stylesheet" href="../../assets/css/ace-skins.min.css"
	th:href="@{/assets/css/ace-skins.min.css}" />
<!--[if lte IE 8]>
<link rel="stylesheet" href="../../assets/css/ace-ie.min.css"
	th:href="@{/assets/css/ace-ie.min.css}" />
<![endif]-->
<!-- inline styles related to this page -->
<!-- ace settings handler -->
<script src="../../assets/js/ace-extra.min.js"
	th:src="@{/assets/js/ace-extra.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    var globalUri = /*[[@{'/assets/js'}]]*/'';
    /*]]>*/
</script>
</head>
<body>
	<div th:fragment="javascriptFragment">
		<script src="../../assets/js/require.js"
			th:src="@{/assets/js/require.js}"
			th:attr="data-main=@{/assets/js/main}"></script>
		<script type="text/javascript" th:inline="javascript">
	    /*<![CDATA[*/

	    //This function is called once the DOM is ready.
	    //It will be safe to query the DOM and manipulate
	    //DOM nodes in this function.
	    var browserDetectUri = /*[[@{'/assets/js/browserDetect.js'}]]*/'/assets/js/browserDetect.js';

	    require(
		    [ browserDetectUri ],
		    function($) {
			// ... do stuff
			// alert('lt IE 8');

			$
				.ajaxSetup({
				    contentType : "application/x-www-form-urlencoded;charset=utf-8",
				    complete : function(XMLHttpRequest,
					    textStatus) {
					var sessionstatus = XMLHttpRequest
						.getResponseHeader("sessionstatus"); // 通过XMLHttpRequest取得响应头，sessionstatus， 
					if (sessionstatus == "timeout") {
					    // 如果超时就处理 ，指定要跳转的页面 
					    //alert("会话已经超时，请重新登录。");
					    $
						    .teninedialog({
							title : '系统提示',
							content : '会话已经超时，请重新登录。',
							dialogHidden : function() {
							    var loginUrl = /*[[@{'/login'}]]*/'';
							    window.location
								    .replace(loginUrl);
							}
						    });

					}
				    }
				});
		    });
	    /*]]>*/
	</script>
	</div>
</body>
</html>