<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html>
<head th:fragment="headerFragment">
<title th:text="${title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
<link href="/bootstrap/css/DT_bootstrap.css" rel="stylesheet"
	type="text/css" th:href="@{/bootstrap/css/DT_bootstrap.css}" />
<link href="/bootstrap/css/prettify.css" rel="stylesheet"
	type="text/css" th:href="@{/bootstrap/css/prettify.css}" />
<link href="/bootstrap/css/datepicker.css" rel="stylesheet"
	type="text/css" th:href="@{/bootstrap/css/datepicker.css}" />
<script src="/scripts/jquery-1.10.2.min.js" type="text/javascript"
	th:src="@{/scripts/jquery-1.10.2.min.js}"></script>
<script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"
	th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script src="/bootstrap/js/jquery.dataTables.js" type="text/javascript"
	th:src="@{/bootstrap/js/jquery.dataTables.js}"></script>
<script src="/bootstrap/js/bootstrap-datepicker.js"
	type="text/javascript"
	th:src="@{/bootstrap/js/bootstrap-datepicker.js}"></script>
<script src="/scripts/jquery-ui-1.10.3.custom.min.js"
	type="text/javascript"
	th:src="@{/scripts/jquery-ui-1.10.3.custom.min.js}"></script>
<!--  
<script src="/scripts/i18n/jquery.ui.datepicker-zh-CN.min.js"
	type="text/javascript"
	th:src="@{/scripts/i18n/jquery.ui.datepicker-zh-CN.min.js}"></script>
	-->
<script src="/scripts/jquery.validate.min.js" type="text/javascript"
	th:src="@{/scripts/jquery.validate.min.js}"></script>
<script src="/scripts/json2.js" type="text/javascript"
	th:src="@{/scripts/json2.js}"></script>
</head>
<body>
</body>
</html>