<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="zh_cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- basic styles -->
<link href="../../assets/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/assets/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../assets/css/font-awesome.min.css"
	th:href="@{/assets/css/font-awesome.min.css}" />
<!--[if IE 7]>
		  <link rel="stylesheet" href="../../assets/css/font-awesome-ie7.min.css" th:href="@{/assets/css/font-awesome-ie7.min.css}"/>
		<![endif]-->
<!-- page specific plugin styles -->
<!-- fonts 

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
-->
<!-- ace styles -->
<link rel="stylesheet" href="../../assets/css/ace.min.css"
	th:href="@{/assets/css/ace.min.css}" />
<link rel="stylesheet" href="../../assets/css/ace-rtl.min.css"
	th:href="@{/assets/css/ace-rtl.min.css}" />
<link rel="stylesheet" href="../../assets/css/ace-skins.min.css"
	th:href="@{/assets/css/ace-skins.min.css}" />
<!--[if lte IE 8]>
		  <link rel="stylesheet" href="../../assets/css/ace-ie.min.css" th:href="@{/assets/css/ace-ie.min.css}"/>
		<![endif]-->
<!-- inline styles related to this page -->
<!-- ace settings handler -->
<script src="../../assets/js/ace-extra.min.js"
	th:src="@{/assets/js/ace-extra.min.js}"></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
		<script src="../../assets/js/html5shiv.js" th:src="@{/assets/js/html5shiv.js}"></script>
		<script src="../../assets/js/respond.min.js" th:src="@{/assets/js/respond.min.js}"></script>
		<![endif]-->
</head>
<body>
	<h1>你好</h1>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>