<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head thy:merge="/common::headerFragment">
<title>依申请公开办理系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    function load(title, url) {

    	
	$("#content")
		.load(
			url + '?' + (new Date()).valueOf(),
			function(event) {
			    $('#breadcrumb').empty();
			    $('#breadcrumb')
				    .append(
					    '<li><a href="#">首页</a> <span class="divider">/</span></li>');
			    $('#breadcrumb').append(
				    '<li class="active">' + title + '</li>');
				//$('#events').bind("evt_CandidateBadge", function(evt, data) {
				//	alert(event);
				//    alert(data);
				//    $("#candidateBadge").text(data.badges);
				    
				//});
				
				
			    var eventHandler = {name: 'evt_handler'};
			    
			 // 他要订阅Levi的周总结（学会怎么订阅别的对象的事件~）
			 eventHandler.handle1 = function() {
				 $('#content').bind('evt_CandidateBadge', function(evt, data) {
			         //alert(A.name + ': 哎哟，不错哦');
			         $("#candidateBadge").text(data.badges);
			     });
			 };
			 
			 eventHandler.handle2 = function() {
				 $('#content').bind('evtTasksBadge', function(evt, data) {
			         //alert(A.name + ': 哎哟，不错哦');
			         $("#tasksBadge").text(data.badges);
			     });
			 };
			  
			 //eventHandler.handle1();
			 eventHandler.handle2();
			 
			 $('#content').bind('evt_CandidateBadge', function(evt, data) {
		         //alert(A.name + ': 哎哟，不错哦');
		         $("#candidateBadge").text(data.badges);
		     });

			});





    };
    


    
	function loadOwner(title){
	    
	    load(title,'runtime/process/userProcessIndex/'+/*[[${T(org.apache.shiro.SecurityUtils).subject.principal.loginName}]]*/
		    );
	};
    function changePassword() {
	create('#changePasswordDialog', /*[[@{'/user/changePassword'}]]*/'',
		successCallback);
    };
    function successCallback() {

	$("#changePasswordDialog").modal("hide");

    };
    $(document).ready(function() {
    	


	//ajaxify menus
	$('ul.nav a').click(function(e) {

	    var $clink = $(this);
	    
	    $('ul li.active').removeClass('active');
	    $clink.parent('li').addClass('active');

	});
	$('.dropdown-toggle').dropdown();
	//animating menus on hover
	$('ul.nav li:not(.nav-header)').hover(function() {
	    $(this).animate({
		'margin-left' : '+=5'
	    }, 300);
	}, function() {
	    $(this).animate({
		'margin-left' : '-=5'
	    }, 300);
	});

	//load('待办', 'runtime/tasks/candidateTaskIndex');
	load('待办', 'runtime/tasks/index');
	
	$("#content").bind("evtWFSuccess", function(evt, data) {
	    load('所有流程', 'runtime/process/userProcessIndex/admin');
	});
	


    });
    /*]]>*/
</script>
</head>
<body>

	<div class="span12">
		<div class="navbar navbar-inverse navbar-fixed-top showgrid">
			<div class="navbar-inner">
				<div class="container-fluid">
					<button type="button" class="btn btn-navbar" data-toggle="collapse"
						data-target=".nav-collapse">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="brand" href="#">依申请公开办理系统</a>
					<div class="nav-collapse collapse">
						<div class="btn-group pull-right">
							<button class="btn btn-info"
								th:text="${T(org.apache.shiro.SecurityUtils).subject.principal}">login
								name</button>
							<button class="btn btn-info dropdown-toggle"
								data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="javascript:changePassword()">修改密码</a></li>
								<li class="divider"></li>
								<li><a th:href="@{/logout}">退出</a></li>
							</ul>
						</div>
					</div>
					<!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="span3 bs-docs-sidebar">
					<div class="">
						<ul class="nav nav-list">
							<li class="nav-header">依申请公开</li>
							<li><a href="#"
								onClick="load('创建','runtime/process/governmentInformationDisclosure:188:112622/startAndRedirectToTaskForm')">创建<i
									class="icon-chevron-right"></i></a></li>
							<li class="active"><a id="tasks"
								onclick="load('待办事项','runtime/tasks/index')">待办事项<span
									class="badge badge-warning pull-right" id="tasksBadge">2</span></a></li>
							<li><a id="candidateTasks"
								onclick="load('待接收事项','runtime/tasks/candidateTaskIndex')">待接收事项<span
									class="badge badge-warning pull-right" id="candidateBadge">2</span></a></li>
							<li><a href="#"
								onClick="load('已办事项','runtime/tasks/historicTasks')">已办事项</a></li>
							<li><a href="#"
								onClick="load('已办结','runtime/process/finishedProcessIndex/governmentInformationDisclosure:187:105232/')"
								th:if="${T(org.apache.shiro.SecurityUtils).subject.hasRole('ROLE_USER')==true}">已办结</a></li>
							<li><a href="#" onClick="loadOwner('我发起的')">我发起的</a></li>
							<li><a href="#"
								onClick="load('所有依申请公开','runtime/process/allProcessIndex/')">所有依申请公开</a></li>
							<li><a href="#"
								onClick="load('填报年度统计表','runtime/process/annualStatistics:105:105231/startAndRedirectToTaskForm')">填报年度统计表<i
									class="icon-chevron-right"></i></a></li>
							<li class="nav-header"
								th:if="${T(org.apache.shiro.SecurityUtils).subject.hasRole('ROLE_ADMIN')==true}">用户管理</li>
							<li><a href="#" onClick="load('用户列表','user/index')"
								th:if="${T(org.apache.shiro.SecurityUtils).subject.hasRole('ROLE_ADMIN')==true}">用户列表<i
									class="icon-chevron-right"></i></a></li>
							<li class="nav-header"
								th:if="${T(org.apache.shiro.SecurityUtils).subject.hasRole('ROLE_ADMIN')==true}">角色管理</li>
							<li
								th:if="${T(org.apache.shiro.SecurityUtils).subject.hasRole('ROLE_ADMIN')==true}"><a
								href="#" onClick="load('角色列表','role/index')">角色列表<i
									class="icon-chevron-right"></i></a></li>
							<li class="nav-header"
								th:if="${T(org.apache.shiro.SecurityUtils).subject.hasRole('ROLE_ADMIN')==true}">部门管理</li>
							<li
								th:if="${T(org.apache.shiro.SecurityUtils).subject.hasRole('ROLE_ADMIN')==true}"><a
								href="#" onClick="load('角色列表','organization/index')">部门列表<i
									class="icon-chevron-right"></i></a></li>
							<li class="nav-header"
								th:if="${T(org.apache.shiro.SecurityUtils).subject.hasRole('ROLE_ADMIN')==true}">统计</li>
							<li
								th:if="${T(org.apache.shiro.SecurityUtils).subject.hasRole('ROLE_ADMIN')==true}"><a
								href="#"
								onClick="load('统计信息','workflow/resource/governmentInformationDisclosure/statisticalForTable')">统计信息<i
									class="icon-chevron-right"></i></a></li>
							<li
								th:if="${T(org.apache.shiro.SecurityUtils).subject.hasRole('ROLE_ADMIN')==true}"><a
								href="#"
								onClick="load('按提交人搜索','workflow/resource/governmentInformationDisclosure/analyseByApplicant')">按提交人搜索<i
									class="icon-chevron-right"></i></a></li>
							<li
								th:if="${T(org.apache.shiro.SecurityUtils).subject.hasRole('ROLE_ADMIN')==true}"><a
								href="#"
								onClick="load('年度数据统计','workflow/resource/governmentInformationDisclosure/annualStatisticalSheet')">年度数据统计<i
									class="icon-chevron-right"></i></a></li>
						</ul>
					</div>
					<!--/.well -->
				</div>
				<!--/span-->
				<div class="span9">
					<ul class="breadcrumb" id="breadcrumb">
						<li><a href="#">首页</a> <span class="divider">/</span></li>
					</ul>
					<div class="span9">
						<div class="row" id="content">
							<h1>欢迎!</h1>
							<p>这是一个政府公开信息共享系统.</p>
							<p>
								<a href="#" class="btn btn-primary btn-large">更多 &raquo;</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<!--/row-->
			<hr />
			<footer>
				<p>建议使用IE8及以上版本,chrome,firefox等浏览器。不支持IE6。</p>
			</footer>
		</div>
		<!--/.fluid-container-->
		<div tabindex="-1" class="modal hide fade" id="changePasswordDialog"
			data-keyboard="false" data-backdrop="static"></div>
	</div>
</body>
</html>