<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head thy:merge="/common::headerFragment">
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
<title>回复意见</title>
<style>
form {
	display: block;
	margin: 20px auto;
	background: #eee;
	border-radius: 10px;
	padding: 15px
}

#progress {
	position: relative;
	width: 400px;
	border: 1px solid #ddd;
	padding: 1px;
	border-radius: 3px;
}

#bar {
	background-color: #B4F5B4;
	width: 0%;
	height: 20px;
	border-radius: 3px;
}

#percent {
	position: absolute;
	display: inline-block;
	top: 3px;
	left: 48%;
}
</style>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	function deleteAttachment(deleteUrl, attachmentId) {
		$.ajax({
			type : "POST",
			url : deleteUrl+attachmentId,
			data : {
				_method : 'DELETE',
			//items : selctedItems
			},
			// contentType : 'application/json',
			//dataType : 'json',
			success : function(data) {

				$("#attachment" + attachmentId).remove();

			}
		});
	};

	$(document)
			.ready(
					function() {
						var options = {
							beforeSend : function() {
								$("#progress").show();
								//clear everything
								$("#bar").width('0%');
								$("#message").html("");
								$("#percent").html("0%");
							},
							uploadProgress : function(event, position, total,
									percentComplete) {
								$("#bar").width(percentComplete + '%');
								$("#percent").html(percentComplete + '%');

							},
							success : function() {
								$("#bar").width('100%');
								$("#percent").html('100%');

							},
							complete : function(response) {
								var ret = JSON.parse(response.responseText);
								$("#message").html(
										"<font color='green'>"
												+ response.responseText
												+ "</font>");
								var li = $("<li></li>");

								var a = $("<a>" + ret.filename + "</a>");
								var deleteUrl = /*[[@{'/runtime/attachment/'}]]*/"";
								a.attr("href", "javascript:deleteAttachment(\""
										+ deleteUrl + "\"," + ret.attachmentId
										+ ");");
								var i = $("<i class=\"icon-remove\"></i>");
								i.appendTo(a);
								a.appendTo(li);
								li.attr("id", "attachment" + ret.attachmentId);
								li.appendTo($("#uploadedAttachment"));

							},
							error : function() {
								$("#message")
										.html(
												"<font color='red'> 错误: 不能上传文件,请检查文件！</font>");
							}
						};
						$("#uploadForm").ajaxForm(options);
						$("#submitButton")
								.click(
										function() {
											$("#myForm")
													.ajaxForm(
															{
																url : /*[[@{'/runtime/form/submitTaskForm/'+${taskId}}]]*/'',
																dataType : "text",
																success : function(
																		data) {

																	$("#myForm")
																			.trigger(
																					"evtWFSuccess",
																					{
																						msg : 'OK'
																					});
																	//alert(data);
																},

															}).submit();

										});
					});
	/*

	 */
	/*]]>*/
</script>
</head>
<body>
	<div class="well">
		<div class="box">
			<div class="control-group">
				<label class="control-label text-info">标题：</label>
				<div class="controls">
					<label th:text="${result.applicationName}" />
				</div>
			</div>
		</div>
		<div class="box">
			<legend>公民</legend>
			<div class="control-group">
				<div class="row">
					<div class="span4">
						<label class="control-label text-info">姓名：</label>
						<div class="controls">
							<label th:text="${result.citizenName}" />
						</div>
					</div>
					<div class="span4">
						<label class="control-label text-info">工作单位：</label>
						<div class="controls">
							<label th:text="${result.citizenWorkunit}" />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<label class="control-label text-info">证件名称：</label>
					<div class="controls">
						<label th:text="${result.citizenCertificate}" />
					</div>
				</div>
				<div class="span4">
					<label class="control-label text-info">证件号码：</label>
					<div class="controls">
						<label th:text="${result.citizenCertificateID}" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<label class="control-label text-info">联系电话：</label>
					<div class="controls">
						<label th:text="${result.citizenTelphone}" />
					</div>
				</div>
				<div class="span4">
					<label class="control-label text-info">邮件编码：</label>
					<div class="controls">
						<label th:text="${result.citizenZipcode}" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<label class="control-label text-info">联系地址：</label>
					<div class="controls">
						<label th:text="${result.citizenAddress}" />
					</div>
				</div>
				<div class="span4">
					<label class="control-label text-info">传真：</label>
					<div class="controls">
						<label th:text="${result.citizenFax}" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<label class="control-label text-info">电子邮箱：</label>
					<div class="controls">
						<label th:text="${result.citizenEmail}" />
					</div>
				</div>
			</div>
		</div>
		<div class="box">
			<legend>法人/其它组织</legend>
			<div class="control-group">
				<div class="row">
					<div class="span4">
						<label class="control-label text-info">名称：</label>
						<div class="controls">
							<label th:text="${result.groupName}" />
						</div>
					</div>
					<div class="span4">
						<label class="control-label text-info">组织机构代码：</label>
						<div class="controls">
							<label th:text="${result.groupID}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span4">
						<label class="control-label text-info">法人代表：</label>
						<div class="controls">
							<label th:text="${result.groupDelegate}" />
						</div>
					</div>
					<div class="span4">
						<label class="control-label text-info">联系人名称：</label>
						<div class="controls">
							<label th:text="${result.groupDelegateName}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span4">
						<label class="control-label text-info">联系人电话：</label>
						<div class="controls">
							<label th:text="${result.groupDelegateTelphone}" />
						</div>
					</div>
					<div class="span4">
						<label class="control-label text-info">传真：</label>
						<div class="controls">
							<label th:text="${result.groupDelegateFax}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span4">
						<label class="control-label text-info">联系地址：</label>
						<div class="controls">
							<label th:text="${result.groupDelegateAddress}" />
						</div>
					</div>
					<div class="span4">
						<label class="control-label text-info">电子邮箱：</label>
						<div class="controls">
							<label th:text="${result.groupDelegateEmail}" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="control-group">
				<div class="row">
					<div class="span4">
						<label class="control-label text-info">申请时间：</label>
						<div class="controls">
							<label th:text="${result.applicationTime}" />
						</div>
					</div>
					<div class="span4">
						<label class="control-label text-info">提交部门：</label>
						<div class="controls">
							<label th:text="${result.submitDepartment}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span8">
						<label class="control-label text-info">所需信息的内容描述：</label>
						<div class="controls">
							<label th:text="${result.description}" class="span7" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span8">
						<label class="control-label text-info">所需信息的用途：</label>
						<div class="controls">
							<label th:text="${result.purpose}" class="span7" />
						</div>
					</div>
				</div>
				<label class="control-label text-info">所需信息的指定提供方式：</label>
				<div class="controls">
					<label class="checkbox inline"><input type="checkbox"
						value="0" name="mode"
						th:checked="${result.mode!=null?#lists.contains(#strings.listSplit(result.mode,','),'0'):false}" />纸面</label><label
						class="checkbox inline"><input type="checkbox" value="1"
						name="mode"
						th:checked="${result.mode!=null?#lists.contains(#strings.listSplit(result.mode,','),'1'):false}" />电子邮件</label>
				</div>
				<label class="control-label text-info">读取信息的方式：</label>
				<div class="controls">
					<label class="checkbox inline"><input type="checkbox"
						value="0" name="obtainMode"
						th:checked="${result.obtainMode!=null?#lists.contains(#strings.listSplit(result.obtainMode,','),'0'):false}" />电子邮件</label><label
						class="checkbox inline"><input type="checkbox" value="1"
						name="obtainMode"
						th:checked="${result.obtainMode!=null?#lists.contains(#strings.listSplit(result.obtainMode,','),'1'):false}" />传真</label><label
						class="checkbox inline"><input type="checkbox" value="2"
						name="obtainMode"
						th:checked="${result.obtainMode!=null?#lists.contains(#strings.listSplit(result.obtainMode,','),'2'):false}" />自行领取</label>
				</div>
			</div>
		</div>
		<div class="box">
			<legend>附件</legend>
			<div th:each="attachment:${attachments}">
				<label class="checkbox inline"><a
					th:href="@{'/runtime/attachment/'+${attachment.id}}"><span
						th:text="${attachment.name}">file.ext</span></a></label>
			</div>
		</div>
		<div class="box">
			<legend>回复意见</legend>
			<div th:each="aReply:${result.replies}">
				<blockquote>
					<p th:text="${aReply.reply}" class="text-left" />
					<small><span
						th:text="${aReply.userLoginName}+'  '+${aReply.replyTime}"></span></small>
				</blockquote>
			</div>
		</div>
		<div class="box" th:if="${not historicView}">
			<label>回复意见：</label>
			<form id="myForm"
				th:action="@{'/runtime/form/submitTaskForm/'+${taskId}}"
				method="post">
				<textarea name="reply" rows="8" cols="20" class="span7"></textarea>
				<input type="button" id="submitButton" value="回复"
					class="btn btn-primary" />
			</form>
		</div>
		<div class="box" th:if="${not historicView}">
			<label>上传附件：</label>
			<div>
				<ul id="uploadedAttachment"></ul>
			</div>
			<form id="uploadForm"
				th:action="@{'/runtime/attachment/uploadAttachment/'+${taskId}}"
				method="post" enctype="multipart/form-data">
				<div class="row">
					<div class="span3">
						<input type="file" name="file" />
					</div>
					<div class="span1">
						<input type="submit" value="上传" class="btn btn-info" />
					</div>
					<div class="span3">
						<div id="progress">
							<div id="bar"></div>
							<div id="percent">0%</div>
						</div>
						<div id="message"></div>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>