<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head thy:merge="/common::headerFragment">
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
<title>审核意见</title>
<style type="text/css">
#myForm label.error {
	width: auto;
	color: red;
}
</style>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    $(document)
	    .ready(
		    function() {
			$("#myForm").validate({
			    ignore : [],
			    rules : {
				assigneeList : {
				    required : true
				}

			    },
			    messages : {

				assigneeList : {
				    required : "重新办理必须选择办理人员"
				}

			    }

			});

			$("#submitButton")
				.click(
					function() {
					    $("#backFlag").val("false");
					    $('#assigneeList')
						    .val(
							    "cheat the form validator!hahahaaaa");
					    $("#myForm")
						    .ajaxForm(
							    {
								url : /*[[@{'/runtime/form/submitTaskForm/'+${taskId}}]]*/'',
								dataType : "text",
								success : function(
									data) {

								    $("#myForm")
									    .trigger(
										    "evtWFSuccess",
										    {
											msg : 'OK'
										    });
								    var ret = JSON
									    .parse(data);
								    alert(ret.msg);
								},

							    }).submit();

					});

			$("#backButton")
				.click(
					function() {
					    $("#backFlag").val("true");

					    $("#myForm")
						    .ajaxForm(
							    {
								url : /*[[@{'/runtime/form/submitTaskForm/'+${taskId}}]]*/'',
								dataType : "text",
								success : function(
									data) {

								    $("#myForm")
									    .trigger(
										    "evtWFSuccess",
										    {
											msg : 'OK'
										    });
								    var ret = JSON
									    .parse(data);
								    alert(ret.msg);
								},
								beforeSubmit : function() {
								    return $(
									    "#myForm")
									    .valid();
								}

							    }

						    ).submit();

					});
			$("#clearButton").click(function() {
			    $('#selectedUser').text("");
			});
			$('#selectBtn')
				.bind(
					'click',
					function() {
					    $("#selectUsers")
						    .load(
							    /*[[@{'/user/select'}]]*/'../../user/select'
								    + "?timestamp="
								    + (new Date())
									    .valueOf(),
							    function(data) {

								$(
									"#selectUsers")
									.bind(
										"evtSelectUser",
										function(
											evt,
											data) {

										    str = "";
										    for ( var i = 0; i < data.users.length; i++) {
											str += data.users[i]
												+ ",";
										    }
										    $(
											    '#assigneeList')
											    .val(
												    str);
										    var userids = str
											    .split(',');

										    for (i = 0; i < userids.length; i++) {
											var id = userids[i];
											if (id == "")
											    continue;
											$
												.ajax({
												    type : 'GET',
												    url : /*[[@{'/user/name/'}]]*/"" //获取用户名称
													    + id,
												    async : true,
												    success : function(
													    data) {
													temp = $(
														'#selectedUser')
														.text();
													temp += data
														+ ';';
													$(
														'#selectedUser')
														.text(
															temp);

												    }

												});
										    }

										    $(
											    '#selectUsers')
											    .modal(
												    "hide");
										});
								$(
									"#selectUsers")
									.bind(
										"evtCancled",
										function(
											evt,
											data) {
										    console
											    .log(data);
										    $(
											    '#selectUsers')
											    .modal(
												    "hide");
										});
								$(
									'#selectUsers')
									.modal();

							    });
					});
		    });
    /*]]>*/
</script>
</head>
<body>
	<div class="well">
		<div class="box">
			<div class="control-group">
				<label class="control-label text-info">标题：</label>
				<div class="controls">
					<label th:text="${result.applicationName}" />
				</div>
			</div>
		</div>
		<div class="box">
			<legend>公民</legend>
			<div class="control-group">
				<div class="row">
					<div class="span4">
						<label class="control-label text-info">姓名：</label>
						<div class="controls">
							<label th:text="${result.citizenName}" />
						</div>
					</div>
					<div class="span4">
						<label class="control-label text-info">工作单位：</label>
						<div class="controls">
							<label th:text="${result.citizenWorkunit}" />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<label class="control-label text-info">证件名称：</label>
					<div class="controls">
						<label th:text="${result.citizenCertificate}" />
					</div>
				</div>
				<div class="span4">
					<label class="control-label text-info">证件号码：</label>
					<div class="controls">
						<label th:text="${result.citizenCertificateID}" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<label class="control-label text-info">联系电话：</label>
					<div class="controls">
						<label th:text="${result.citizenTelphone}" />
					</div>
				</div>
				<div class="span4">
					<label class="control-label text-info">邮件编码：</label>
					<div class="controls">
						<label th:text="${result.citizenZipcode}" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<label class="control-label text-info">联系地址：</label>
					<div class="controls">
						<label th:text="${result.citizenAddress}" />
					</div>
				</div>
				<div class="span4">
					<label class="control-label text-info">传真：</label>
					<div class="controls">
						<label th:text="${result.citizenFax}" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span4">
					<label class="control-label text-info">电子邮箱：</label>
					<div class="controls">
						<label th:text="${result.citizenEmail}" />
					</div>
				</div>
			</div>
		</div>
		<div class="box">
			<legend>法人/其它组织</legend>
			<div class="control-group">
				<div class="row">
					<div class="span4">
						<label class="control-label text-info">名称：</label>
						<div class="controls">
							<label th:text="${result.groupName}" />
						</div>
					</div>
					<div class="span4">
						<label class="control-label text-info">组织机构代码：</label>
						<div class="controls">
							<label th:text="${result.groupID}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span4">
						<label class="control-label text-info">法人代表：</label>
						<div class="controls">
							<label th:text="${result.groupDelegate}" />
						</div>
					</div>
					<div class="span4">
						<label class="control-label text-info">联系人名称：</label>
						<div class="controls">
							<label th:text="${result.groupDelegateName}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span4">
						<label class="control-label text-info">联系人电话：</label>
						<div class="controls">
							<label th:text="${result.groupDelegateTelphone}" />
						</div>
					</div>
					<div class="span4">
						<label class="control-label text-info">传真：</label>
						<div class="controls">
							<label th:text="${result.groupDelegateFax}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span4">
						<label class="control-label text-info">联系地址：</label>
						<div class="controls">
							<label th:text="${result.groupDelegateAddress}" />
						</div>
					</div>
					<div class="span4">
						<label class="control-label text-info">电子邮箱：</label>
						<div class="controls">
							<label th:text="${result.groupDelegateEmail}" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="box">
			<div class="control-group">
				<div class="row">
					<div class="span4">
						<label class="control-label text-info">申请时间：</label>
						<div class="controls">
							<label th:text="${result.applicationTime}" />
						</div>
					</div>
					<div class="span4">
						<label class="control-label text-info">提交部门：</label>
						<div class="controls">
							<label th:text="${result.submitDepartment}" />
						</div>
					</div>
				</div>
				<div class="span7">
					<label class="control-label text-info">所需信息的内容描述：</label>
					<div class="controls">
						<label th:text="${result.description}" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span7">
					<label class="control-label text-info">所需信息的用途：</label>
					<div class="controls">
						<label th:text="${result.purpose}" />
					</div>
				</div>
			</div>
			<label class="control-label text-info">所需信息的指定提供方式：</label>
			<div class="controls">
				<label class="checkbox inline"><input type="checkbox"
					value="0" name="mode"
					th:checked="${result.mode!=null?#lists.contains(#strings.listSplit(result.mode,','),'0'):false}" />纸面</label><label
					class="checkbox inline"><input type="checkbox" value="1"
					name="mode"
					th:checked="${result.mode!=null?#lists.contains(#strings.listSplit(result.mode,','),'1'):false}" />电子邮件</label>
			</div>
			<label class="control-label text-info">读取信息的方式：</label>
			<div class="controls">
				<label class="checkbox inline"><input type="checkbox"
					value="0" name="obtainMode"
					th:checked="${result.obtainMode!=null?#lists.contains(#strings.listSplit(result.obtainMode,','),'0'):false}" />电子邮件</label><label
					class="checkbox inline"><input type="checkbox" value="1"
					name="obtainMode"
					th:checked="${result.obtainMode!=null?#lists.contains(#strings.listSplit(result.obtainMode,','),'1'):false}" />传真</label><label
					class="checkbox inline"><input type="checkbox" value="2"
					name="obtainMode"
					th:checked="${result.obtainMode!=null?#lists.contains(#strings.listSplit(result.obtainMode,','),'2'):false}" />自行领取</label>
			</div>
		</div>
		<div class="box">
			<legend>附件</legend>
			<div th:each="attachment:${attachments}">
				<label class="checkbox inline"><a
					th:href="@{'/runtime/attachment/'+${attachment.id}}"><span
						th:text="${attachment.name}">file.ext</span></a></label>
			</div>
		</div>
		<div class="box">
			<legend>处理意见</legend>
			<div th:each="aReply:${result.replies}">
				<blockquote>
					<p th:text="${aReply.reply}" class="text-left" />
					<small><span
						th:text="${aReply.userLoginName}+'  '+${aReply.replyTime}"></span></small>
					<div th:each="attachment:${attachments}">
						<label class="checkbox inline"
							th:if="${aReply.userLoginName==attachment.userId}"><a
							th:href="@{'/runtime/attachment/'+${attachment.id}}"><span
								th:text="${attachment.name}">file.ext</span></a></label>
					</div>
				</blockquote>
			</div>
		</div>
		<div class="box">
			<legend>审核意见</legend>
			<div>
				<blockquote>
					<p th:text="${result.review}" class="text-left" />
				</blockquote>
			</div>
		</div>
		<div class="box" th:if="${not historicView}">
			<legend>审核意见</legend>
			<form id="myForm"
				th:action="@{'/runtime/form/submitTaskForm/'+${taskId}}"
				method="post">
				<div class="row">
					<textarea name="review" rows="8" cols="20" class="span7"></textarea>
				</div>
				<div class="box">
					<legend>处理人员</legend>
					<div class="row">
						<div class="span3">
							<label class="control-label text-info">已选择处理单位人员：</label>
						</div>
						<div class="span3">
							<input type="button" id="selectBtn" value="选择用户重新办理"
								class="btn btn-info btn-mini" /> <input type="button"
								id="clearButton" value="清除" class="btn btn-danger btn-mini" />
						</div>
					</div>
					<label id="selectedUser"></label> <input type="hidden"
						name="assigneeList" id="assigneeList" value="" />
				</div>
				<div class="box">
					<div class="row">
						<input type="submit" id="submitButton" value="审核"
							class="btn btn-primary cancel" /> <input type="submit"
							id="backButton" value="退回" class="btn btn-danger" />
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<input type="hidden" name="backFlag" id="backFlag" value="" />
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>