<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head >
<title>统计列表</title>
<link href="/jQuery.sheet-3.1/jquery.sheet.css" rel="stylesheet"
	type="text/css" th:href="@{/jQuery.sheet-3.1/jquery.sheet.css}" />
<link href="/jQuery.sheet-3.1/jquery-ui/theme/jquery-ui.min.css"
	rel="stylesheet" type="text/css"
	th:href="@{/jQuery.sheet-3.1/jquery-ui/theme/jquery-ui.min.css}" />
<script src="/jQuery.sheet-3.1/jquery.sheet.js" type="text/javascript"
	th:src="@{/jQuery.sheet-3.1/jquery.sheet.js}"></script>
<script src="/jQuery.sheet-3.1/jquery-ui/ui/jquery-ui.min.js"
	type="text/javascript"
	th:src="@{/jQuery.sheet-3.1/jquery-ui/ui/jquery-ui.min.js}"></script>
<script src="/jQuery.sheet-3.1/plugins/globalize.js"
	type="text/javascript"
	th:src="@{/jQuery.sheet-3.1/plugins/globalize.js}"></script>
<script src="/jQuery.sheet-3.1/parser/formula/formula.js"
	type="text/javascript"
	th:src="@{/jQuery.sheet-3.1/parser/formula/formula.js}"></script>
<script src="/jQuery.sheet-3.1/parser/tsv/tsv.js" type="text/javascript"
	th:src="@{/jQuery.sheet-3.1/parser/tsv/tsv.js}"></script>
<script src="/jQuery.sheet-3.1/plugins/jquery.nearest.min.js"
	type="text/javascript"
	th:src="@{/jQuery.sheet-3.1/plugins/jquery.nearest.min.js}"></script>
<script src="/jQuery.sheet-3.1/plugins/jquery.sheet.dts.js"
	type="text/javascript"
	th:src="@{/jQuery.sheet-3.1/plugins/jquery.sheet.dts.js}"></script>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	// $('#sheetParent').sheet.preLoad('../../../../jQuery.sheet-3.1/');
	$(function() {

		//$dtsValue.val(JSON.stringify(json));
		//$('#sheetFromDts').html(tables).height($('#sheet').height()).sheet();
		var sheetData = /*[[${result==null?'':result.statisticalData}]]*/"";
		if (sheetData == '') {
			$('#sheetParent').sheet();
		} else {
			tables = $.sheet.dts.toTables.xml(sheetData);
			tables.find("td").each(function(i) {
				var td = $(this);
				if (td.attr("data-celltype") != "number") {
					td.attr("data-uneditable", true);

				}
			});
			$('#sheetParent').html(tables).sheet();
		}
	});
	$(document).ready(function() {

	});
	/*]]>*/
</script>
<style>
.hover {
	background-color: #cccc00;
}
</style>
</head>
<body>
	<form id="myForm">
		<label class="control-label text-info">年度：</label> <label
			th:text="${result.annual}"></label>
		<div id="sheetParent" style="height: 450px;">
			<table>
				<colgroup>
					<col style="width: 380px;" />
					<col style="width: 120px;" />
					<col style="width: 120px;" />
				</colgroup>
				<tr>
					<td data-uneditable="true">统计指标</td>
					<td data-uneditable="true">单位</td>
					<td data-uneditable="true">统计数</td>
				</tr>
				<tr>
					<td data-uneditable="true">一、主动公开情况</td>
					<td data-uneditable="true"></td>
					<td></td>
				</tr>
				<tr>
					<td data-uneditable="true">（一）主动公开政府信息数<br />（不同渠道和方式公开相同信息计1条）
					</td>
					<td data-uneditable="true">条</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">其中：主动公开规范性文件数</td>
					<td data-uneditable="true">条</td>
					<td data-uneditable="true">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">制发规范性文件总数</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（二）通过不同渠道和方式公开政府信息的情况</td>
					<td data-uneditable="true"></td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">1、政府公报公开政府信息数</td>
					<td data-uneditable="true">条</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">2、政府网站公开政府信息数</td>
					<td data-uneditable="true">条</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">3、政务微博公开政府信息数</td>
					<td data-uneditable="true">条</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">4、政务微信公开政府信息数</td>
					<td data-uneditable="true">条</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">5、其他方式公开政府信息数</td>
					<td data-uneditable="true">条</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">二、重点领域公开情况</td>
					<td data-uneditable="true"></td>
					<td></td>
				</tr>
				<tr>
					<td data-uneditable="true">（一）、行政权力清单公开数</td>
					<td data-uneditable="true">条</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（二）、财政资金信息公开数</td>
					<td data-uneditable="true">条</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（三）、公共资源配置信息公开数</td>
					<td data-uneditable="true">条</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（四）、重大建设项目信息公开数</td>
					<td data-uneditable="true">条</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（五）、公共服务信息公开数</td>
					<td data-uneditable="true">条</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（六）、国有企业信息公开数</td>
					<td data-uneditable="true">条</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（七）、环境保护信息公开数</td>
					<td data-uneditable="true">条</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（八）、食品药品安全信息数</td>
					<td data-uneditable="true">条</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（九）、社会组织、中介机构信息公开数</td>
					<td data-uneditable="true">条</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">三、回应解读情况情况</td>
					<td data-uneditable="true"></td>
					<td data-uneditable="true"></td>
				</tr>
				<tr>
					<td data-uneditable="true">（一）回应公众关注热点或重大舆情数<br />（不同方式回应同一热点或舆情计1次）
					</td>
					<td data-uneditable="true">次</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（二）通过不同渠道和方式回应解读的情况</td>
					<td data-uneditable="true"></td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">1、参加或举办新闻发布会总次数</td>
					<td data-uneditable="true">次</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">其中：主要负责同志参加新闻发布会次数</td>
					<td data-uneditable="true">次</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">2、政府网站在线访谈次数</td>
					<td data-uneditable="true">次</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">其中：主要负责同志参加政府网站在线访谈次数</td>
					<td data-uneditable="true">次</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">3、政策解读稿件发布数</td>
					<td data-uneditable="true">篇</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">4、微博微信回应事件数</td>
					<td data-uneditable="true">次</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">5、其他方式回应事件数</td>
					<td data-uneditable="true">次</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">四、依申请公开情况</td>
					<td data-uneditable="true"></td>
					<td data-uneditable="true"></td>
				</tr>
				<tr>
					<td data-uneditable="true">（一）收到申请数</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">1、当面申请数</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">2、传真申请数</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">3、网络申请数</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">4、信函申请数</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（申请办结数）</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">1、按时办结数</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">2、延期办结数</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（三）申请答复数</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">1、属于已主动公开范围数</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">2、同意公开答复数</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">3、同意部分公开答复数</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">4、不同意公开答复数</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">其中：涉及国家秘密</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">涉及商业秘密</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">涉及个人隐私</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">危及国家安全、公共安全、经济安全和社会稳定</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">不是《条例》所指政府信息</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">5、不属于本行政机关公开数</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">6、申请信息不存在</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">7、告知作出更改补充数</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">8、告知通过其他途径办理数</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">五、行政复议数量</td>
					<td data-uneditable="true"></td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（一）维持具体行政行为数</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（二）被依法纠错数</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（三）其他情形数</td>
					<td data-uneditable="true">次</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">六、行政诉讼数量</td>
					<td data-uneditable="true"></td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（一）维持具体行政行为或者驳回原先诉讼请求数</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（二）被依法纠错数</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（三）其他情形数</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">七、举报投诉数量</td>
					<td data-uneditable="true">件</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">八、依申请公开信息收取的费用</td>
					<td data-uneditable="true">万元</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">九、机构建设和保障经费情况</td>
					<td data-uneditable="true"></td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（一）政府信息公开工作专门机构数</td>
					<td data-uneditable="true">个</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（二）设置政府信息公开查阅点数</td>
					<td data-uneditable="true">个</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（三）从事政府信息公开工作人员数</td>
					<td data-uneditable="true">人</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">1、专职人员数（不包括政府公报及政府网站工作人员数）</td>
					<td data-uneditable="true">人</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">2、兼职人员数</td>
					<td data-uneditable="true">人</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（四）政府信息公开专项经费（不包括用于政府公开报编辑管理及政府<br />网站建设维护等方面的经费）
					</td>
					<td data-uneditable="true">万元</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">十、政府信息公开会议和培训情况</td>
					<td data-uneditable="true"></td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（一）召开政府信息公开工作会议或专题会议数</td>
					<td data-uneditable="true">次</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（二）举办各类培训班数</td>
					<td data-uneditable="true">次</td>
					<td data-uneditable="true" data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（三）接受培训人员数</td>
					<td data-uneditable="true">人次</td>
					<td data-uneditable="true">0</td>
				</tr>
			</table>
		</div>
	</form>
</body>
</html>
