<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head thy:merge="/common::headerFragment">
<title>统计列表</title>
<link href="/jQuery.sheet-3.1/jquery.sheet.css" rel="stylesheet"
	type="text/css" th:href="@{/jQuery.sheet-3.1/jquery.sheet.css}" />
<link href="/jQuery.sheet-3.1/jquery-ui/theme/jquery-ui.min.css"
	rel="stylesheet" type="text/css"
	th:href="@{/jQuery.sheet-3.1/jquery-ui/theme/jquery-ui.min.css}" />
<script src="/jQuery.sheet-3.1/jquery.sheet.js" type="text/javascript"
	th:src="@{/jQuery.sheet-3.1/jquery.sheet.js}"></script>
<script src="/jQuery.sheet-3.1/jquery-ui/ui/jquery-ui.min.js"
	type="text/javascript"
	th:src="@{/jQuery.sheet-3.1/jquery-ui/ui/jquery-ui.min.js}"></script>
<script src="/jQuery.sheet-3.1/plugins/globalize.js"
	type="text/javascript"
	th:src="@{/jQuery.sheet-3.1/plugins/globalize.js}"></script>
<script src="/jQuery.sheet-3.1/parser/formula/formula.js"
	type="text/javascript"
	th:src="@{/jQuery.sheet-3.1/parser/formula/formula.js}"></script>
<script src="/jQuery.sheet-3.1/parser/tsv/tsv.js" type="text/javascript"
	th:src="@{/jQuery.sheet-3.1/parser/tsv/tsv.js}"></script>
<script src="/jQuery.sheet-3.1/plugins/jquery.nearest.min.js"
	type="text/javascript"
	th:src="@{/jQuery.sheet-3.1/plugins/jquery.nearest.min.js}"></script>
<script src="/jQuery.sheet-3.1/plugins/jquery.sheet.dts.js"
	type="text/javascript"
	th:src="@{/jQuery.sheet-3.1/plugins/jquery.sheet.dts.js}"></script>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	// $('#sheetParent').sheet.preLoad('../../../../jQuery.sheet-3.1/');
	$(function() {

		//$dtsValue.val(JSON.stringify(json));
		//$('#sheetFromDts').html(tables).height($('#sheet').height()).sheet();
		var sheetData = /*[[${result==null?'':result.statisticalData}]]*/"";
		if (sheetData == '') {
			$('#sheetParent').sheet({
				barMenus : false,
				contextmenuTop : {},
				contextmenuLeft : {},
				contextmenuCell : {}
			});
		} else {
			tables = $.sheet.dts.toTables.xml(sheetData);
			tables.find("td").each(function(i) {
				var td = $(this);
				if (td.attr("data-celltype") != "number") {
					td.attr("data-uneditable", true);

				}
			});
			$('#sheetParent').html(tables).sheet({
				barMenus : false,
				contextmenuTop : {},
				contextmenuLeft : {},
				contextmenuCell : {}
			});
		}
	});
	$(document).ready(function() {
		$('#submitBtn').click(function() {
 var isExists=false;
			$.ajax({
				type : 'GET',
				url : /*[[@{'/statistical/isExists/'}]]*/"" //
						+ $('#annual').val()+"/"
						+/*[[${T(org.apache.shiro.SecurityUtils).subject.principal.loginName}]]*/,
				async : false,
				success : function(data) {
					if(data==true) {
						
						alert( $('#annual').val()+"年度统计已存在。");
						isExists=true;
					}

				}

			});
if(isExists) return;
			var jS = $('#sheetParent').getSheet();

			for (i = 2; i <= 65; i++) {
				var v = $('#sheetParent').getCellValue(i, 3, 0)
				if (isNaN(v)) {
					alert("第" + i + "行的第3列输入的内容无法转换成数值，请更正");
					return;
				}
			}

			xml = $.sheet.dts.fromTables.xml(jS, true);

			$("#myForm").ajaxForm({
				url : /*[[@{'/runtime/form/submitTaskForm/'+${taskId}}]]*/"",
				dataType : "text",
				data : {
					statisticalData : xml,
					isCompleted : "true",
					isSubmitted : "true",
					status : "commited"
				},
				type : "POST",
				success : function(data) {
					var ret = JSON.parse(data);
					alert(ret.msg);
				},
				beforeSubmit : function() {

				}

			}).submit();

		});

		$('#saveBtn').click(function() {
			
			 var isExists=false;
				$.ajax({
					type : 'GET',
					url : /*[[@{'/statistical/isExists/'}]]*/"" //
							+ $('#annual').val()+"/"
							+/*[[${T(org.apache.shiro.SecurityUtils).subject.principal.loginName}]]*/,
					async : false,
					success : function(data) {
						if(data==true) {
							
							alert( $('#annual').val()+"年度统计已存在。");
							isExists=true;
						}

					}

				});
	if(isExists) return;
			
			
			for (i = 2; i <= 65; i++) {
				var v = $('#sheetParent').getCellValue(i, 3, 0)
				if (isNaN(v)) {
					alert("第" + i + "行的第3列输入的内容无法转换成数值，请更正");
					return;
				}
			}
			var jS = $('#sheetParent').getSheet();
			xml = $.sheet.dts.fromTables.xml(jS, true);

			$("#myForm").ajaxForm({
				url : /*[[@{'/runtime/form/submitTaskForm/'+${taskId}}]]*/"",
				dataType : "text",
				data : {
					statisticalData : xml,
					isCompleted : "false",
					isSubmitted : "false",
					status : "uncommited"
				},
				type : "POST",
				success : function(data) {
					var ret = JSON.parse(data);
					alert(ret.msg);
				},
				beforeSubmit : function() {

				}

			}).submit();

		});

	});
	/*]]>*/
</script>
<style>
.hover {
	background-color: #cccc00;
}
</style>
</head>
<body>
	<form id="myForm">
		<label class="control-label text-info">年度：</label> <select
			name="annual" id="annual">
			<option value="2014" selected="selected">2014</option>
			<option value="2015">2015</option>
			<option value="2016">2016</option>
			<option value="2017">2017</option>
			<option value="2018">2018</option>
		</select>
		<div id="sheetParent" style="height: 450px;">
			<table>
				<colgroup>
					<col style="width: 380px;" />
					<col style="width: 120px;" />
					<col style="width: 120px;" />
				</colgroup>
				<tr>
					<td data-uneditable="true">统计指标</td>
					<td data-uneditable="true">单位</td>
					<td data-uneditable="true">统计数</td>
				</tr>
				<tr>
					<td data-uneditable="true">一、主动公开情况</td>
					<td data-uneditable="true"></td>
					<td></td>
				</tr>
				<tr>
					<td data-uneditable="true">（一）主动公开政府信息数<br />（不同渠道和方式公开相同信息计1条）
					</td>
					<td data-uneditable="true">条</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">其中：主动公开规范性文件数</td>
					<td data-uneditable="true">条</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">制发规范性文件总数</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（二）通过不同渠道和方式公开政府信息的情况</td>
					<td data-uneditable="true"></td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">1、政府公报公开政府信息数</td>
					<td data-uneditable="true">条</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">2、政府网站公开政府信息数</td>
					<td data-uneditable="true">条</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">3、政务微博公开政府信息数</td>
					<td data-uneditable="true">条</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">4、政务微信公开政府信息数</td>
					<td data-uneditable="true">条</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">5、其他方式公开政府信息数</td>
					<td data-uneditable="true">条</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">二、回应解读情况情况</td>
					<td data-uneditable="true"></td>
					<td></td>
				</tr>
				<tr>
					<td data-uneditable="true">（一）回应公众关注热点或重大舆情数<br />（不同方式回应同一热点或舆情计1次）
					</td>
					<td data-uneditable="true">次</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（二）通过不同渠道和方式回应解读的情况</td>
					<td data-uneditable="true"></td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">1、参加或举办新闻发布会总次数</td>
					<td data-uneditable="true">次</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">其中：主要负责同志参加新闻发布会次数</td>
					<td data-uneditable="true">次</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">2、政府网站在线访谈次数</td>
					<td data-uneditable="true">次</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">其中：主要负责同志参加政府网站在线访谈次数</td>
					<td data-uneditable="true">次</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">3、政策解读稿件发布数</td>
					<td data-uneditable="true">篇</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">4、微博微信回应事件数</td>
					<td data-uneditable="true">次</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">5、其他方式回应事件数</td>
					<td data-uneditable="true">次</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">三、依申请公开情况</td>
					<td data-uneditable="true"></td>
					<td></td>
				</tr>
				<tr>
					<td data-uneditable="true">（一）收到申请数</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">1、当面申请数</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">2、传真申请数</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">3、网络申请数</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">4、信函申请数</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（申请办结数）</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">1、按时办结数</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">2、延期办结数</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（三）申请答复数</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">1、属于已主动公开范围数</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">2、同意公开答复数</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">3、同意部分公开答复数</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">4、不同意公开答复数</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">其中：涉及国家秘密</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">涉及商业秘密</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">涉及个人隐私</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">危及国家安全、公共安全、经济安全和社会稳定</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">不是《条例》所指政府信息</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">5、不属于本行政机关公开数</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">6、申请信息不存在</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">7、告知作出更改补充数</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">8、告知通过其他途径办理数</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">四、行政复议数量</td>
					<td data-uneditable="true"></td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（一）维持具体行政行为数</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（二）被依法纠错数</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（三）其他情形数</td>
					<td data-uneditable="true">次</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">五、行政诉讼数量</td>
					<td data-uneditable="true"></td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（一）维持具体行政行为或者驳回原先诉讼请求数</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（二）被依法纠错数</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（三）其他情形数</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">六、举报投诉数量</td>
					<td data-uneditable="true">件</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">七、依申请公开信息收取的费用</td>
					<td data-uneditable="true">万元</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">八、机构建设和保障经费情况</td>
					<td data-uneditable="true"></td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（一）政府信息公开工作专门机构数</td>
					<td data-uneditable="true">个</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（二）设置政府信息公开查阅点数</td>
					<td data-uneditable="true">个</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（三）从事政府信息公开工作人员数</td>
					<td data-uneditable="true">人</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">1、专职人员数（不包括政府公报及政府网站工作人员数）</td>
					<td data-uneditable="true">人</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">2、兼职人员数</td>
					<td data-uneditable="true">人</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（四）政府信息公开专项经费（不包括用于政府公开报编辑管理及政府<br />网站建设维护等方面的经费）
					</td>
					<td data-uneditable="true">万元</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">九、政府信息公开会议和培训情况</td>
					<td data-uneditable="true"></td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（一）召开政府信息公开工作会议或专题会议数</td>
					<td data-uneditable="true">次</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（二）举办各类培训班数</td>
					<td data-uneditable="true">次</td>
					<td data-celltype="number">0</td>
				</tr>
				<tr>
					<td data-uneditable="true">（三）接受培训人员数</td>
					<td data-uneditable="true">人次</td>
					<td data-celltype="number">0</td>
				</tr>
			</table>
		</div>
		<input id="submitBtn" type="button" class="btn btn-info" value="提交" />
		<input id="saveBtn" type="button" class="btn btn-info" value="暂存" />
	</form>
</body>
</html>
