<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head thy:merge="/common::headerFragment">
<title></title>

<link href="/dojo-release-1.11.1/dojox/grid/resources/claroGrid.css"
	rel="stylesheet" type="text/css"
	th:href="@{/dojo-release-1.11.1/dojox/grid/resources/claroGrid.css}" />


<link
	href="/dojo-release-1.11.1/dojox/grid/enhanced/resources/claro/EnhancedGrid.css"
	rel="stylesheet" type="text/css"
	th:href="@{/dojo-release-1.11.1/dojox/grid/enhanced/resources/claro/EnhancedGrid.css}" />
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	/////create on20162016年3月18日下午2:17:49 byxxb1029//////
	dojoConfig = {
		'packages' : [

		{
			location : /*[[@{'/dojo-release-1.10.4/dbootstrap'}]]*/'dojo-release-1.10.4/dbootstrap',
			name : 'dbootstrap'
		} ]
	};
	/*]]>*/
</script>
<style>
</style>
</head>
<body class="claro">
	<div class="column" id="tree">
		<h1>ArticleGrid</h1>
		<div id="articleGrid"></div>
	</div>
	<button id="add-new-article">Add an article</button>

	<button id="delete-channel-node">Delete selected item</button>
	<div th:include="/common::dojoScriptFragment"></div>

	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		/////create on20162016年3月18日下午2:17:49 byxxb1029//////
		require([ "dbootstrap" ], function(dbootstrap) {
			// Start application.
		});

		require(
				[ "dojo/aspect", "dojo/query", "dojo/json",
						"dojo/data/ObjectStore",
						"dojox/grid/enhanced/plugins/Pagination",
						"dojox/grid/enhanced/plugins/Filter",
						"dojox/grid/EnhancedGrid", "dojo/store/JsonRest",
						"dojo/store/Memory", "dojo/store/Cache",
						"dojo/store/Observable", 'dojo/parser',
						"dojo/domReady!" ],
				function(aspect, query, JSON, ObjectStore, Pagination, Filter,
						EnhancedGrid, JsonRest, Memory, Cache, Observable,
						parser) {
					parser.parse();
					// set up the store to get the tree data

					var articleStore = new JsonRest(
							{
								target : /*[[@{'/cmsManage/article/data'}]]*/"article/data"
										+ "?channelId=1"

							});

					articleStore = new Cache(articleStore, new Memory({
						idProperty : "id"
					}));

					//*/

					// give store Observable interface so Tree can track updates
					articleStore = new Observable(articleStore);

					// set up the model, assigning channelStore, and assigning method to identify leaf nodes of tree
					var articleModel = new ObjectStore({
						objectStore : articleStore
					});

					// set up the tree, assigning governmentModel;
					var articleGrid = new EnhancedGrid({
						store : articleModel,

						structure : [ {
							name : "ID",
							field : "id",
							width : "auto"
						}, {
							name : "Title",
							field : "title",
							width : "auto"
						}, {
							name : "created",
							field : "created",
							width : "auto"
						}, {
							name : "clicks",
							field : "clicks",
							width : "auto"
						} ],
						columnReordering : true,
						clientSort : true,
						rowSelector : '20px',
						rowsPerPage : 5,
						autoHeight : true,
						plugins : {
							pagination : {
								pageSizes : [ "10", "25", "50", "100" ],
								description : true,
								sizeSwitch : true,
								pageStepper : true,
								gotoButton : true,
								maxPageStep : 5,
								position : "bottom"
							}
						}

					}, "articleGrid");
					articleGrid.startup();

					query("#delete-channel-node").on("click", function() {

						del();

					});

					query("#add-new-article").on("click", function() {
					});

					function del() {

					}
					;

				});

		/*]]>*/
	</script>
</body>
</html>