<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head thy:merge="/common::headerFragment">
<title></title>

<link href="/dojo-release-1.11.1/dojox/grid/resources/claroGrid.css"
	rel="stylesheet" type="text/css"
	th:href="@{/dojo-release-1.11.1/dojox/grid/resources/claroGrid.css}" />


<link
	href="/dojo-release-1.11.1/dojox/grid/enhanced/resources/claro/EnhancedGrid.css"
	rel="stylesheet" type="text/css"
	th:href="@{/dojo-release-1.11.1/dojox/grid/enhanced/resources/claro/EnhancedGrid.css}" />


<script src="/ckeditor/ckeditor.js" type="text/javascript"
	th:src="@{/ckeditor/ckeditor.js}"></script>

<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	/////create on20162016年3月18日下午2:17:49 byxxb1029//////
	dojoConfig = {
		'packages' : [

		]
	};
	/*]]>*/
</script>
<style>
</style>
</head>
<body class="claro">
	<div style="width: 100%; height: 500px;">
		<h1>文章列表</h1>
		<div data-dojo-type="dijit/layout/LayoutContainer" id="articleLayout"
			data-dojo-props="design: 'sidebar'"
			style="width: 100%; height: 100%;">
			<div data-dojo-type="dijit/layout/ContentPane"
				data-dojo-props="region:'leading'" style="width: 30%;">
				<div id="channelTree"></div>
			</div>
			<div data-dojo-type="dijit/layout/ContentPane"
				data-dojo-props="region:'center'" style="width: 70%;">
				<div id="articleGrid"></div>

				<div>
					<button id="add-new-article">Add an article</button>

					<button id="delete-channel-node">Delete selected item</button>
				</div>
			</div>

		</div>

		<div data-dojo-type="dijit.form.Form" id="articleForm"
			data-dojo-id="articleForm" encType="multipart/form-data" action=""
			method="">
			<label class="titleLabel" for="title">标题 *</label> <input type="text"
				id="title" name="title" class="medium"
				dojoType="dijit.form.ValidationTextBox" required="true"
				ucfirst="true" invalidMessage="" /> <br /> <label
				class="titleLabel" for="author">作者 *</label> <input type="text"
				id="author" name="author" class="medium"
				dojoType="dijit.form.ValidationTextBox" required="true"
				ucfirst="true" invalidMessage="" /> <br /> <label
				class="titleLabel" for="content">内容 *</label>
			<textarea id="content" name="content"></textarea>

		</div>




	</div>

	<div th:include="/common::dojoScriptFragment"></div>

	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		/////create on20162016年3月18日下午2:17:49 byxxb1029//////
		CKEDITOR.replace("content");
		require([ "dojo/aspect", "dojo/dom", "dojo/json",
				"dojo/store/JsonRest", "dijit/tree/ObjectStoreModel",
				"dijit/tree/ForestStoreModel", "dijit/Tree", "dojo/domReady!",
				"dojo/query", "dojo/store/Observable", "dojo/_base/Deferred",
				"dijit/tree/dndSource" ], function(aspect, dom, json, JsonRest,
				ObjectStoreModel, ForestStoreModel, Tree, domReady, query,
				Observable, Deferred, dndSource) {

			var channelStore = new JsonRest({
				target : /*[[@{'/cmsManage/channel/data'}]]*/"channel/data",
				//data : [ json.parse(data) ],
				getRoot : function(onItem) {
					this.query({
						"id" : -1,
						"timeStamp" : Math.random()
					}).then(onItem);
				},
				mayHaveChildren : function(object) {
					return "children" in object;

				},
				getChildren : function(object) {
					return this.query({
						"id" : object.id,
						"timeStamp" : Math.random()
					}).then(function(fullObject) {
						return fullObject.children;
					})
				},
				getLabel : function(object) {
					// just get the name
					return object.name;
				}
			});

			// To support dynamic data changes, including DnD,
			// the store must support put(child, {parent: parent}).
			// But dojo/store/Memory doesn't, so we have to implement it.
			// Since our store is relational, that just amounts to setting child.parent
			// to the parent's id.

			///*

			//channelStore = new Cache(channelStore, new Memory());

			// give store Observable interface so Tree can track updates
			channelStore = new Observable(channelStore);
			// set up the model, assigning channelStore, and assigning method to identify leaf nodes of tree
			var channelModel = new ObjectStoreModel({
				store : channelStore,
				//getRoot : function(onItem) {
				//	this.store.get("root").then(onItem);
				//},
				getRoot : function(onItem) {
					this.store.query({
						"id" : -1,
						"timeStamp" : Math.random()
					}).then(onItem);
				},
				mayHaveChildren : function(object) {
					return "children" in object;
				}

			});

			// set up the tree, assigning governmentModel;
			var channelTree = new Tree({
				model : channelModel,
				/*onOpenClick : true,
				onLoad : function() {
					dom.byId('image').src = '../resources/images/root.jpg';
				},
				onClick : function(item) {
					dom.byId('image').src = '../resources/images/'
							+ item.id + '.jpg';

				},
				 */
				persist : false,

				dndController : dndSource
			}, "channelTree");
			channelTree.startup();

		});

		require([ "dojo/aspect", "dojo/query", "dojo/json",
				"dojo/data/ObjectStore",
				"dojox/grid/enhanced/plugins/Pagination",
				"dojox/grid/enhanced/plugins/Filter",
				"dojox/grid/EnhancedGrid", "dojo/store/JsonRest",
				"dojo/store/Memory", "dojo/store/Cache",
				"dojo/store/Observable", "dijit/layout/LayoutContainer",
				"dijit/layout/ContentPane", "dojo/domReady!" ], function(
				aspect, query, JSON, ObjectStore, Pagination, Filter,
				EnhancedGrid, JsonRest, Memory, Cache, Observable) {
			//parser.parse();
			// set up the store to get the tree data

			var articleStore = new JsonRest({
				target : /*[[@{'/cmsManage/article/data'}]]*/"article/data"
						+ "?channelId=1"

			});

			articleStore = new Cache(articleStore, new Memory({
				idProperty : "id"
			}));

			//*/

			// give store Observable interface so Tree can track updates
			articleStore = new Observable(articleStore);

			// set up the model, assigning channelStore, and assigning method to identify leaf nodes of tree
			var articleModel = new ObjectStore({
				objectStore : articleStore
			});

			// set up the tree, assigning governmentModel;
			var articleGrid = new EnhancedGrid({
				store : articleModel,

				structure : [ {
					name : "ID",
					field : "id",
					width : "auto"
				}, {
					name : "Title",
					field : "title",
					width : "auto"
				}, {
					name : "created",
					field : "created",
					width : "auto"
				}, {
					name : "clicks",
					field : "clicks",
					width : "auto"
				} ],
				columnReordering : true,
				clientSort : true,
				rowSelector : '20px',
				rowsPerPage : 5,
				autoHeight : true,
				plugins : {
					pagination : {
						pageSizes : [ "10", "25", "50", "100" ],
						description : true,
						sizeSwitch : true,
						pageStepper : true,
						gotoButton : true,
						maxPageStep : 5,
						position : "bottom"
					}
				}

			}, "articleGrid");
			articleGrid.startup();

			query("#delete-channel-node").on("click", function() {

				del();

			});

			query("#add-new-article").on("click", function() {
			});

			function del() {

			}
			;

		});

		/*]]>*/
	</script>
</body>
</html>